<!-- Horizontal Display Ad-->
<section class="container-fluid text-center pt-2 mb-5">
    <ng-adsense
        [fullWidthResponsive]="true"
        [display]="'block'"
        [adClient]="'ca-pub-4642980268605791'"
        [adSlot]=2801999023
        [adFormat]="'auto'">
    </ng-adsense>
</section>
<div class="container-fluid my-5">
    <div class="h5 my-4">
        <h1 class="mb-4">{{title}}</h1>
        <p class="my-3">
            {{description}}
        </p>
    </div>
    <section class="mb-3 d-flex flex-wrap align-items-center">
        <span class="h5 my-2 mr-3">Share</span>
        <share-buttons
        [theme]="'default'"
        [include]="['twitter', 'facebook', 'linkedin', 'reddit', 'tumblr', 'copy']"
        [exclude]="[]"
        [showText]="false"
        [showCount]="false"
        url="{{environment.url}}{{url}}">
        </share-buttons>
    </section>
    <div class="text-center my-5" *ngIf="authService?.canEdit(user)">
        <div class="input-group">
            <div class="input-group-prepend">
                <div ngbDropdown class="d-inline-block">
                    <button class="btn btn-warning" id="order-by-dropdown" title="Sort By" ngbDropdownToggle>
                        {{ interval ? interval : 'Interval' }}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="order-by-dropdown">
                        <button class="dropdown-item cursor-pointer" [class.cursor-pointer]="!_.isEqual(option, interval)" [class.active]="_.isEqual(option, interval)"
                        [disabled]="_.isEqual(option, interval)" *ngFor="let option of intervalOptions" (click)="interval = option">
                            {{option}}
                        </button>
                    </div>
                </div>
            </div>
            <input type="text" class="form-control form-control" aria-label="Search for symbol" placeholder="Search for symbol"
                [(ngModel)]="symbol" />
            <div class="input-group-append">
                <button class="btn btn-warning" [disabled]="!symbol" (click)="refreshData()">
                    <ng-container *ngIf="isPlatformBrowser()">
                        <fa-icon [icon]="['fas', 'search']" class="text-dark"></fa-icon>
                    </ng-container>
                </button>
            </div>
        </div>
        <section class="mb-3">
            <input type="text" class="form-control form-control" aria-label="Low Param" placeholder="Low Param"
            [(ngModel)]="lowParam" />
            <input type="text" class="form-control form-control" aria-label="High Param" placeholder="High Param"
            [(ngModel)]="highParam" />
        </section>
    </div>
    <p class="text-center small text-secondary my-5" *ngIf="updated">
        Last Updated: {{updated | timeStampDate:'short'}} ({{updated | timeAgo}})
    </p>
    <section>
        <ng-container *ngIf="!isLoading && !_.isEmpty(data)">
            <ng-container *ngIf="isPlatformBrowser()">
                <section *ngFor="let item of data; let index = index">
                    <app-dynamic-chart [symbol]="metaData?.symbol" [canEdit]="authService.canEdit(this.user)" [date]="item?.date" [data]="item?.data" [lowParam]="lowParam" [highParam]="highParam"></app-dynamic-chart>
                </section>
            </ng-container>
        </ng-container>
        <ng-container *ngIf="!isLoading && _.isEmpty(data)">
            <div class="text-center my-5">
                <h1 class="text-uppercase">Loading...</h1>
                <p class="text-muted">If nothing shows up after a few seconds, this means that this symbol does not exist. To get this featured, you can <a class="text-warning" [routerLink]="['/contact']">Contact Us</a></p>
            </div>
        </ng-container>
    </section>
    <div class="container my-5" *ngIf="environment.production && !_.isEmpty(data)">
        <disqus [identifier]="url" url="{{environment.url}}{{url}}" [title]="title" [category]="'stocks'"></disqus>
    </div>
</div>
<!-- Horizontal Display Ad-->
<section class="container-fluid text-center pt-2 mb-5">
    <ng-adsense
        [fullWidthResponsive]="true"
        [display]="'block'"
        [adClient]="'ca-pub-4642980268605791'"
        [adSlot]=2801999023
        [adFormat]="'auto'">
    </ng-adsense>
</section>
