<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th scope="col" *ngFor="let key of keys">{{_.startCase(key)}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let ticker of data">
            <td *ngFor="let key of keys">
                <!-- Symbol -->
                <span *ngIf="isSymbol(key)">
                    <div class="d-flex flex-wrap align-items-center">
                        <a [href]="getGoogleSearch(ticker)" title="Google Search on {{ticker?.symbol}} stock" target="__blank" class="mr-2">{{ticker?.shortName}} ({{ticker?.symbol}})</a>
                        <button (click)="getChartTrendsEmitter(ticker?.symbol)" class="btn btn-warning">
                            <ng-container *ngIf="isPlatformBrowser()">
                                <fa-icon [icon]="['fas', 'chart-line']" class="text-dark"></fa-icon>
                            </ng-container>
                        </button>
                    </div>
                    <div class="d-flex flex-wrap my-2">
                        <div class="badge badge-warning font-weight-bold mr-2" *ngIf="ticker?.signal">{{ticker?.signal}}</div>
                        <div *ngIf="ticker?.recommended" class="badge badge-dark font-weight-bold mr-2">
                            <ng-container *ngIf="isPlatformBrowser()">
                                <fa-icon [icon]="['fas', 'star']" class="text-warning mr-1 fa-1x"></fa-icon>
                            </ng-container>
                            <span>Recommended</span>
                        </div>
                        <ng-container *ngIf="isPlatformBrowser()">
                            <fa-icon *ngIf="showFireIcon(ticker)" [icon]="['fab', 'hotjar']" class="text-danger mr-2"></fa-icon>
                        </ng-container>
                        <a *ngIf="ticker?.finVizRank" class="badge badge-info mr-2" [href]="ticker?.finVizUrl" target="__blank">
                            Finviz (#{{ticker?.finVizRank}})
                        </a>
                        <a *ngIf="ticker?.stockTwitsRank" class="badge badge-primary mr-2" [href]="ticker?.stockTwitsUrl" target="__blank">
                            Stocktwits (#{{ticker?.stockTwitsRank}})
                        </a>
                        <a *ngIf="ticker?.yahooRank" class="badge badge-success mr-2" [href]="ticker?.yahooUrl" target="__blank">
                            Yahoo (#{{ticker?.yahooRank}})
                        </a>
                        <div *ngIf="ticker?.watchlist_count">
                            <ng-container *ngIf="isPlatformBrowser()">
                                <fa-icon [icon]="['fas', 'eye']" class="text-secondary mr-2"></fa-icon>
                            </ng-container>
                            <span class="text-secondary">{{ticker?.watchlist_count}}</span>
                        </div>
                    </div>
                    <div class="mb-2">
                        <a [href]="getGoogleTrends(ticker, 'now')" title="Google Trends Now on {{ticker?.company}}" target="__blank" class="mr-2">Now</a>
                        <a [href]="getGoogleTrends(ticker, 'hourly')" title="Google Trends Hourly on {{ticker?.company}}" target="__blank" class="mr-2">Hourly</a>
                        <a [href]="getGoogleTrends(ticker, 'daily')" title="Google Trends Daily on {{ticker?.company}}" target="__blank" class="mr-2">Daily</a>
                        <a [href]="getGoogleTrends(ticker, 'weekly')" title="Google Trends Weekly on {{ticker?.company}}" target="__blank" class="mr-2">Weekly</a>
                        <a [href]="getGoogleTrends(ticker, 'yearly')" title="Google Trends Yearly on {{ticker?.company}}" target="__blank" class="mr-2">Yearly</a>
                    </div>
                    <div class="mb-2">
                        <a [href]="getYahooFinance(ticker)" title="Yahoo Finance on {{ticker?.symbol}} stock" target="__blank" class="mr-2">Yahoo</a>
                        <a [href]="getTradingView(ticker)" title="TradingView on {{ticker?.symbol}} stock" target="__blank" class="mr-2">TradingView</a>
                        <a [href]="getMarketWatch(ticker)" title="MarketWatch on {{ticker?.symbol}} stock" target="__blank" class="mr-2">MarketWatch</a>
                        <a [href]="getNasdaq(ticker)" title="Nasdaq on {{ticker?.symbol}} stock" target="__blank" class="mr-2">Nasdaq</a>
                        <a [href]="getStocktwits(ticker)" title="Stocktwits on {{ticker?.symbol}} stock" target="__blank" class="mr-2">Stocktwits</a>
                    </div>
                </span>
                <!-- Percentage -->
                <span *ngIf="isPercentage(key)" [ngClass]="{ 'text-success': isPositive(_.get(ticker, [key])), 'text-danger': !isPositive(_.get(ticker, [key])) }">
                    {{_.round(ticker[key], 2)}}%
                </span>
                <!-- Currency -->
                <span *ngIf="isCurrency(key)" [ngClass]="{ 'text-success': isPositive(_.get(ticker, [key])), 'text-danger': !isPositive(_.get(ticker, [key])) }">
                    {{_.round(ticker[key], 2) | currency: ticker?.currency}}
                </span>
                <!-- Timestamp -->
                <span *ngIf="isTimestamp(key)">
                    {{getEarningsDate(ticker[key]) | date:'medium'}}
                </span>
                <!-- Number -->
                <span *ngIf="isNumber(key)" [ngClass]="{ 'text-success': isPositive(_.get(ticker, [key])), 'text-danger': !isPositive(_.get(ticker, [key])) }">
                    {{ticker[key] | number:'.2'}}
                </span>
                <!-- Other -->
                <span *ngIf="isOther(key)">
                    {{ticker[key]}}
                </span>
            </td>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-between p-2">
    <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" (click)="scrollToTop()"></ngb-pagination>
    <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (click)="scrollToTop()">
        <option [ngValue]="10">10 items per page</option>
        <option [ngValue]="25">25 items per page</option>
        <option [ngValue]="tickers.length">{{tickers.length}} items per page</option>
    </select>
</div>
<!-- <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4 col-xl-3 mb-3" *ngFor="let ticker of tickers">
        <section [hidden]="_.isNil(ticker)">
            <div class="d-flex flex-wrap align-items-center">
                <a [href]="getGoogleSearch(ticker)" title="Google Search on {{ticker?.symbol}} stock" target="__blank" class="h5 mb-0 mr-2">{{ticker?.longName ? ticker?.longName : ticker?.company}} ({{ticker?.symbol}})</a>
            </div>
            <div class="mb-2">
                <span class="font-weight-bold h4 text-secondary mr-2">{{ticker?.financialCurrency ? ticker?.financialCurrency : 'OTHER'}}</span>
                <span *ngIf="ticker?.regularMarketPrice" class="font-weight-bold h4 text-dark mr-2">
                    {{ticker?.regularMarketPrice | currency:ticker?.currency}}
                </span>
                <ng-container *ngIf="isPlatformBrowser()">
                    <fa-icon *ngIf="isPositive(ticker?.regularMarketChangePercent)" [icon]="['fas', 'long-arrow-alt-up']" class="text-success fa-2x"></fa-icon>
                    <fa-icon *ngIf="!isPositive(ticker?.regularMarketChangePercent)" [icon]="['fas', 'long-arrow-alt-down']" class="text-danger fa-2x"></fa-icon>
                </ng-container>
                <span *ngIf="ticker?.regularMarketChange"
                    [ngClass]="{'text-success': isPositive(ticker?.regularMarketChange), 'text-danger': !isPositive(ticker?.regularMarketChange)}"
                    class="font-weight-bold h4">
                    {{_.round(ticker?.regularMarketChange, 2) | currency:ticker?.currency}}
                </span>
                <span *ngIf="ticker?.regularMarketChangePercent"
                    [ngClass]="{'text-success': isPositive(ticker?.regularMarketChangePercent), 'text-danger': !isPositive(ticker?.regularMarketChangePercent)}"
                    class="font-weight-bold h4">
                    ({{_.round(ticker?.regularMarketChangePercent, 2)}}%)
                </span>
                <div>Fifty Day Average: {{_.round(ticker?.fiftyDayAverage, 2)}}</div>
                <div>Two Hundred Day Average: {{_.round(ticker?.twoHundredDayAverage, 2)}}</div>
                <div [ngClass]="{'text-success': isPositive(ticker?.fiftyDayAverageChange), 'text-danger': !isPositive(ticker?.fiftyDayAverageChange)}">Fifty Day Average Change: {{_.round(ticker?.fiftyDayAverageChange, 2)}}</div>
                <div [ngClass]="{'text-success': isPositive(ticker?.fiftyDayAverageChangePercent), 'text-danger': !isPositive(ticker?.fiftyDayAverageChangePercent)}">Fifty Day Average Change Percent: {{_.round(ticker?.fiftyDayAverageChangePercent, 2)}}</div>
                <div [ngClass]="{'text-success': isPositive(ticker?.twoHundredDayAverageChange), 'text-danger': !isPositive(ticker?.twoHundredDayAverageChange)}">Two Hundred Day Average Change Percent: {{_.round(ticker?.twoHundredDayAverageChange, 2)}}</div>
                <div>Volume: {{ticker?.regularMarketVolume}}</div>
                <div>Average 10 Day Volume: {{ticker?.averageDailyVolume10Day}}</div>
                <div>Average 90 Day Volume: {{ticker?.averageDailyVolume3Month}}</div>
                <div>Fifty Two Week Low Change: {{ticker?.fiftyTwoWeekLowChange}}</div>
                <div>Fifty Two Week High: Change: {{ticker?.fiftyTwoWeekHighChange}}</div>
                <div>Fifty Two Week Low: {{ticker?.fiftyTwoWeekLow}}</div>
                <div>Fifty Two Week High: {{ticker?.fiftyTwoWeekHigh}}</div>
                <div>Market Cap: {{ticker?.marketCap | number:'.2'}}</div>
                <div *ngIf="ticker?.epsForward" [ngClass]="{'text-success': isPositive(ticker?.epsForward), 'text-danger': !isPositive(ticker?.epsForward)}">EPS Forward: {{ticker?.epsForward}}</div>
                <div *ngIf="ticker?.epsTrailingTwelveMonths"  [ngClass]="{'text-success': isPositive(ticker?.epsTrailingTwelveMonths), 'text-danger': !isPositive(ticker?.epsTrailingTwelveMonths)}">EPS Trailing Twelve Months: {{ticker?.epsTrailingTwelveMonths}}</div>
            </div>
            <div class="d-flex flex-wrap mb-2">
                <div class="badge badge-warning font-weight-bold h3 mr-2" *ngIf="ticker?.signal">{{ticker?.signal}}</div>
                <div *ngIf="ticker?.recommended" class="badge badge-dark font-weight-bold h3 mr-2">
                    <ng-container *ngIf="isPlatformBrowser()">
                        <fa-icon [icon]="['fas', 'star']" class="text-warning mr-1 fa-1x"></fa-icon>
                    </ng-container>
                    <span>Recommended</span>
                </div>
            </div>
            <div class="mb-2">
                <a [href]="getGoogleTrends(ticker, 'now')" title="Google Trends Now on {{ticker?.company}}" target="__blank" class="mr-2">Now</a>
                <a [href]="getGoogleTrends(ticker, 'hourly')" title="Google Trends Hourly on {{ticker?.company}}" target="__blank" class="mr-2">Hourly</a>
                <a [href]="getGoogleTrends(ticker, 'daily')" title="Google Trends Daily on {{ticker?.company}}" target="__blank" class="mr-2">Daily</a>
                <a [href]="getGoogleTrends(ticker, 'weekly')" title="Google Trends Weekly on {{ticker?.company}}" target="__blank" class="mr-2">Weekly</a>
                <a [href]="getGoogleTrends(ticker, 'yearly')" title="Google Trends Yearly on {{ticker?.company}}" target="__blank" class="mr-2">Yearly</a>
            </div>
            <div class="mb-2">
                <a [href]="getTradingView(ticker)" title="TradingView on {{ticker?.symbol}} stock" target="__blank" class="mr-2">TradingView</a>
                <a [href]="getMarketWatch(ticker)" title="MarketWatch on {{ticker?.symbol}} stock" target="__blank" class="mr-2">MarketWatch</a>
                <a [href]="getNasdaq(ticker)" title="Nasdaq on {{ticker?.symbol}} stock" target="__blank" class="mr-2">Nasdaq</a>
                <a [href]="getStocktwits(ticker)" title="Stocktwits on {{ticker?.symbol}} stock" target="__blank" class="mr-2">Stocktwits</a>
            </div>
            <p class="font-italic mb-2" *ngIf="getEarningsDate(ticker?.earningsTimestamp)">
                <span class="text-dark">Earnings:</span> {{getEarningsDate(ticker?.earningsTimestamp) | date:'medium'}}
            </p>
            <div class="mb-2" *ngIf="ticker?.watchlist_count">
                <ng-container *ngIf="isPlatformBrowser()">
                    <fa-icon [icon]="['fas', 'eye']" class="text-secondary mr-2"></fa-icon>
                </ng-container>
                <span class="text-secondary">{{ticker?.watchlist_count}}</span>
            </div>
            <div class="mb-2">
                <ng-container *ngIf="isPlatformBrowser()">
                    <fa-icon *ngIf="showFireIcon(ticker)" [icon]="['fab', 'hotjar']" class="text-danger mr-2"></fa-icon>
                </ng-container>
                <a *ngIf="ticker?.finVizRank" class="badge badge-info mr-2" [href]="ticker?.finVizUrl" target="__blank">
                    Finviz (#{{ticker?.finVizRank}})
                </a>
                <a *ngIf="ticker?.stockTwitsRank" class="badge badge-primary mr-2" [href]="ticker?.stockTwitsUrl" target="__blank">
                    Stocktwits (#{{ticker?.stockTwitsRank}})
                </a>
                <a *ngIf="ticker?.yahooRank" class="badge badge-success mr-2" [href]="ticker?.yahooUrl" target="__blank">
                    Yahoo (#{{ticker?.yahooRank}})
                </a>
            </div>
        </section>
    </div>
</div> -->