<ng-container *ngIf="!_.isEmpty(relatedPosts)">
    <hr>
    <div class="container my-5">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb h4 bg-white mb-0 p-0">
            <li class="breadcrumb-item">
                <a [routerLink]="['']" class="badge badge-warning text-capitalize py-2 pr-2">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a [routerLink]="['']" [queryParams]="{q: post?.category}" class="badge badge-dark text-capitalize py-2 pr-2">{{post?.category}}</a>
            </li>
            </ol>
        </nav>
    </div>
    <div class="container mt-5">
        <div class="row no-gutters">
            <div class="col-12">
                <h2 class="mb-3 capitalize">You May Also Like</h2>
            </div>
            <div class="col-xs-12" *ngFor="let relatedPost of relatedPosts" [ngClass]="{'bg-light': !relatedPost.publish }">
                <app-post
                    [showEditButton]="false"
                    [post]="relatedPost"
                    [collection]="collection"
                    [id]="relatedPost?.slug"
                    [inputsConfig]="inputsConfig">
                </app-post>
            </div>
        </div>
    </div>
</ng-container>
