<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngFor="let key of keys">
            <h4 class="text-capitalize mb-2">{{key}}</h4>
            <!-- Dynamic Forms -->
            <div class="mb-3">
                <!-- String Inputs: ['slug', 'uid', 'topic', 'title', 'description', 'image'] -->
                <ng-container *ngIf="_.includes(['slug', 'uid', 'topic', 'title', 'description', 'image'], key)" >
                    <div class="input-group custom-input-group mb-3">
                        <input type="input" class="form-control" placeholder="Add {{key}}" [(ngModel)]="post[key]" [required]="true">
                        <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="fa"
                            [ngClass]="{ 'fa-check text-success': !_.isEmpty(post[key]), 'fa-asterisk text-danger': _.isEmpty(post[key]) }"></i>
                        </span>
                        </div>
                    </div>
                </ng-container>
                <!-- Quill Inputs: ['body'] -->
                <ng-container *ngIf="_.includes(['body'], key)">
                    <quill-editor [(ngModel)]="post[key]"></quill-editor>
                </ng-container>
                <!-- Date Inputs: ['created', 'modified'] -->
                <ng-container *ngIf="_.includes(['created', 'modified'], key)" >
                    <div class="input-group">
                        <input [(ngModel)]="post[key]" id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker" (click)="dp.toggle()">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary fa fa-calendar" (click)="dp.toggle()" type="button"></button>
                        </div>
                    </div>
                </ng-container>
                <!-- Boolean Inputs: ['published'] -->
                <ng-container *ngIf="_.includes(['published'], key)" >
                    {{post[key]}}
                </ng-container>    
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!-- [ngClass]="{ 'btn-primary': isValid(), 'btn-secondary': !isValid() }" [disabled]="!isValid()" -->
        <button type="button" class="btn btn-warning text-white ml-auto" (click)="modal.close('Save click')">
          <span *ngIf="isNew">
            <i class="fa fa-plus-circle"></i> Create
          </span>
          <span *ngIf="!isNew">
            <i class="fa fa-save"></i> Update
          </span>
        </button>    
    </div>
</ng-template>
<button class="btn btn-warning text-white btn-md rounded-0 d-block mb-3" (click)="open(content)">
    <span *ngIf="isNew">
        <i class="fa fa-plus-circle"></i> Create
    </span>
    <span *ngIf="!isNew">
        <i class="fa fa-pen" ></i> Edit
    </span>
</button>