<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{modalTitle}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss(modal)">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body row">
        <div class="mb-3" [ngClass]="{'col-12': isLast, 'col-6': !isLast}" *ngFor="let key of keys; last as isLast">
            <h4 class="text-capitalize mb-2">{{_.startCase(key)}}</h4>
            <!-- Dynamic Forms -->
            <div class="mb-3">
                <!-- String Inputs: ['slug', 'uid', 'topic', 'title', 'description', 'image'] -->
                <ng-container *ngIf="_.includes(inputTypes.string, key)" >
                    <div class="input-group custom-input-group mb-3">
                        <input type="input" class="form-control" placeholder="Add {{key}}" [(ngModel)]="tempPost[key]" [required]="true" [disabled]="isDisabled(key)">
                        <div class="input-group-append">
                            <span class="input-group-text">
                                <i class="fa"
                                [ngClass]="{ 'fa-check text-success': !_.isEmpty(tempPost[key]), 'fa-asterisk text-danger': _.isEmpty(tempPost[key]) }"></i>
                            </span>
                        </div>
                    </div>
                </ng-container>
                <!-- Quill Inputs: ['body'] -->
                <ng-container *ngIf="_.includes(inputTypes.quill, key)">
                    <quill-editor [(ngModel)]="tempPost[key]" [disabled]="isDisabled(key)"></quill-editor>
                </ng-container>
                <!-- Date Inputs: ['created', 'modified'] -->
                <ng-container *ngIf="_.includes(inputTypes.date, key)" >
                    <div class="input-group custom-input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                                name="datePicker" [(ngModel)]="tempPost[key]" ngbDatepicker #datePicker="ngbDatepicker" (click)="datePicker.toggle()" [disabled]="isDisabled(key)">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="fa"
                                [ngClass]="{ 'fa-check text-success': _.isDate(tempPost[key]), 'fa-asterisk text-danger': !_.isDate(tempPost[key]) }"></i>
                            </div>            
                        </div>
                    </div>
                </ng-container>
                <!-- Boolean Inputs: ['published'] -->
                <ng-container *ngIf="_.includes(inputTypes.boolean, key)" >
                    <div class="form-check d-inline-block cursor-pointer mr-3">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="yesNoRadio" id="yesNoRadio" [value]="true" [(ngModel)]="tempPost[key]" [disabled]="isDisabled(key)" checked>
                            Yes
                        </label>
                    </div>
                    <div class="form-check d-inline-block cursor-pointer">
                        <label class="form-check-label">
                            <input class="form-check-input" type="radio" name="yesNoRadio" id="yesNoRadio" [value]="false" [(ngModel)]="tempPost[key]" [disabled]="isDisabled(key)">
                            No
                        </label>
                    </div>
                </ng-container>    
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button *ngIf="!isNew" type="button" class="btn btn-danger" (click)="delete(modal)"><i class="fa fa-trash-alt"></i> Delete</button>
        <button class="btn btn-primary" (click)="copyToClipboard(tempPost)">
            Copy JSON
        </button>
        <button [ngClass]="{ 'btn-warning': isValid(), 'btn-secondary': !isValid() }" [disabled]="!isValid()"
        type="button" class="btn text-white ml-auto" (click)="modal.close(tempPost)">
          <span *ngIf="isNew">
            <i class="fa fa-plus-circle"></i> Create
          </span>
          <span *ngIf="!isNew">
            <i class="fa fa-save"></i> Update
          </span>
        </button>    
    </div>
</ng-template>
<button class="btn btn-warning text-white btn-md rounded-0 d-block mb-3" (click)="open(content)">
    <span *ngIf="isNew">
        <i class="fa fa-plus-circle"></i> Create
    </span>
    <span *ngIf="!isNew">
        <i class="fa fa-pen" ></i> Edit
    </span>
</button>