<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{ new ? 'Create New Post' : 'Update'}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <pre>
            {{post | json}} {{new}}
        </pre>                
        <quill-editor [(ngModel)]="post.body"></quill-editor>
        <form>
        <div class="form-group">
            <label for="dateOfBirth">Date of birth</label>
            <div class="input-group">
            <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary fa fa-calendar" (click)="dp.toggle()" type="button"></button>
            </div>
            </div>
        </div>
        </form>
    </div>
    <div class="modal-footer">
        <!-- [ngClass]="{ 'btn-primary': isValid(), 'btn-secondary': !isValid() }" [disabled]="!isValid()" -->
        <button type="button" class="btn btn-warning text-white ml-auto" (click)="modal.close('Save click')">
          <span *ngIf="new">
            <i class="fa fa-plus-circle"></i> Create
          </span>
          <span *ngIf="!new">
            <i class="fa fa-save"></i> Update
          </span>
        </button>    
    </div>
</ng-template>
<button class="btn btn-warning text-white btn-md mb-3" (click)="open(content)">
    <span *ngIf="new">
        <i class="fa fa-plus-circle"></i> Create
    </span>
    <span *ngIf="!new">
        <i class="fa fa-pen" ></i> Edit
    </span>
</button>