<div class="media text-muted pt-3">
    <a [href]="article?.url" [title]="article?.title" target="__blank">
        <img class="article-image mr-4 rounded" src="../assets/img/image-placeholder.jpg" [attr.data-src]="article?.urlToImage" alt="Article Image">
    </a>
    <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
        <a [href]="article?.url" [title]="article?.title" target="__blank"><h4>{{article?.title}}</h4></a>
        <strong class="d-block text-gray-dark">{{article?.source?.name}}</strong>
        <strong class="d-block text-gray-dark">{{article?.publishedAt | date:'medium'}}</strong>
        <p>{{article?.description}}</p>
        <p class="font-weight-bold">Sentiment Score: {{article?.sentiment?.score}}</p>
    </div>
</div>
