<section class="container-fluid py-4">
  <ng-container *ngIf="!isLoading">
    <div class="row" *ngIf="post">
      <div class="col">
        <app-edit-mode *ngIf="authService?.isAuthor(post?.uid)" [post]="post" [isNew]="false"></app-edit-mode>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-white p-0">
            <li class="breadcrumb-item">
              <a [routerLink]="['']" class="text-uppercase text-dark">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="['']" [queryParams]="{query: post?.topic}" class="text-uppercase text-dark">{{post?.topic}}</a>
            </li>
            <li class="breadcrumb-item active text-uppercase" aria-current="page">{{post?.title}}</li>
          </ol>
        </nav>
        <h1 class="text-capitalize">{{post?.title}} - {{post?.topic}} / {{post?.slug}}</h1>
        <div>{{post?.displayName}}</div>
        <div>UID: {{post?.uid}}</div>
        <div>Date Created: {{post?.created | date}}</div>
        <div>Date Modified: {{post?.modified | date}}</div>
        <quill-view-html [content]="post?.body" theme="snow"></quill-view-html>
      </div>
      <!-- <div class="col-xs-12 col-md-3 col-xl-2">
        <img *ngFor="let tempAd of tempAds" [src]="tempAd" alt="Temp Ad" class="img-fluid w-100 cursor-pointer mb-3"/>
      </div> -->
    </div>
    <div class="row" *ngIf="!post">
      <div class="col-lg-12 text-center">
        <h1 class="text-uppercase">Sorry!</h1>
        <p class="text-muted">This page does not exist. Return to <a class="text-warning" [routerLink]="['/']">Home</a></p>
      </div>
    </div>
  </ng-container>
</section>      
