<section class="container-fluid py-4">
  <div class="row">
    <div class="col">
      <app-edit-mode [post]="post" [new]="false"></app-edit-mode>
      <h2 class="text-capitalize">{{post?.title}} - {{post?.topic}} / {{post?.slug}}</h2>
      <div>UID: {{post?.uid}}</div>
      <div>Date Created: {{post?.created | date}}</div>
      <div>Date Modified: {{post?.modified | date}}</div>
      <quill-view-html [content]="post?.body" theme="snow"></quill-view-html>
    </div>
    <div class="col-xs-12 col-md-6 col-xl-4">
      <img [src]="tempAd" alt="Temp Ad" class="img-fluid w-100"/>
      <h4 class="my-3">Recent Posts</h4>
      <section class="mb-3" *ngFor="let post of posts">
        <app-post [post]="post"></app-post>
      </section>
    </div>
  </div>
</section>      
