<div class="container-fluid my-3">
  <app-edit-modal *ngIf="authService?.canEdit(user)"
    [collection]="'posts'"
    [id]="post?.slug"
    [data]="post"
    [isNew]="false"
    [inputsConfig]="inputsConfig">
  </app-edit-modal>
</div>
<section [@enter]>
  <ng-container *ngIf="!isLoading">
    <ng-container *ngIf="post">
      <div class="container my-5">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-white p-0">
            <li class="breadcrumb-item">
              <a [routerLink]="['']" class="text-uppercase text-dark">Home</a>
            </li>
            <li class="breadcrumb-item">
              <a [routerLink]="['']" [queryParams]="{query: post?.topic}" class="text-uppercase text-dark">{{post?.topic}}</a>
            </li>
            <li class="breadcrumb-item active text-uppercase" aria-current="page">{{post?.title}}</li>
          </ol>
        </nav>
        <h1 class="text-capitalize mb-3">{{post?.title}}</h1>
        <div class="h5">
            <div class="mb-2">
              <a [routerLink]="['/profile', post?.uid]" class="mr-3">
                <img class="rounded-circle profile-picture" [src]="post?.photoURL" alt="Profile Picture">
              </a>
              <a [routerLink]="['/profile', post?.uid]" class="text-dark font-weight-bold mr-3" [innerHTML]="post?.displayName | searchHighlight: searchTerm"></a>
              <p class="text-secondary mb-0 d-inline-block">{{post?.modified?.toDate() | timeAgo}}</p>
            </div>
        </div>
      </div>
      <figure>
        <div class="image-banner box-shadow" [ngStyle]="{'background-image': 'url(' + post?.image + ')'}"></div>
      </figure>
      <div class="container my-5">
        <quill-view-html [content]="post?.body" theme="snow"></quill-view-html>
      </div>
    </ng-container>
    <div *ngIf="!post" class="text-center my-5">
      <h1 class="text-uppercase">Sorry!</h1>
      <p class="text-muted">This page does not exist. Return to <a class="text-warning" [routerLink]="['/']">Home</a></p>
    </div>
  </ng-container>
</section>      
