service cloud.firestore {
  match /databases/{database}/documents {
		match /emails/{document=**} {
      function getRole(role) {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles[role]
      }
			allow read, create;
      allow update, delete: if getRole('admin') == true || getRole('editor') == true;
		}
		match /notifications/{document=**} {
      function getRole(role) {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles[role]
      }
      allow read, create, update, delete: if getRole('admin') == true;
		}
    match /payments/{document=**} {
      function getRole(role) {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles[role]
      }
			allow read, create;
      allow update, delete: if getRole('admin') == true || getRole('editor') == true;
		}
		match /users/{document}/payments/{payment=**} {
      function getRole(role) {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles[role]
      }
			allow read, create;
      allow update, delete: if getRole('admin') == true || getRole('editor') == true;
    }
		match /forms/{document=**} {
      function getRole(role) {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles[role]
      }
			allow read, create;
      allow update, delete: if getRole('admin') == true || getRole('editor') == true;
		}
		match /pages/{document=**} {
      function getRole(role) {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles[role]
      }
			allow read;
      allow create, update, delete: if getRole('admin') == true;
		}
		match /users/{document} {
      function getRole(role) {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles[role]
      }
      allow read, create, update;
      allow delete: if getRole('admin') == true;
    }
		match /blog/{document} {
      function getRole(role) {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles[role]
      }
      allow read;
      allow create, update, delete: if getRole('admin') == true || getRole('editor') == true;
    }
		match /trends/{document} {
      function getRole(role) {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles[role]
      }
      allow read;
      allow create, update, delete: if getRole('admin') == true || getRole('editor') == true;
    }
		match /travel/{document} {
      function getRole(role) {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles[role]
      }
      allow read;
      allow create, update, delete: if getRole('admin') == true || getRole('editor') == true;
    }
	}
}