service cloud.firestore {
  match /databases/{database}/documents {
    match /pages/{document=**} {
      function getRole(role) {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles[role]
      }
			allow read;
      allow create, update, delete: if getRole('admin') == true;
		}
		match /users/{document} {
      function getRole(role) {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles[role]
      }
      allow read, create;
      allow update: if getRole('admin') == true || getRole('editor') == true;
    }
		match /posts/{document} {
      function getRole(role) {
        return get(/databases/$(database)/documents/users/$(request.auth.uid)).data.roles[role]
      }
      allow read;
      allow create, update, delete: if getRole('admin') == true || getRole('editor') == true;
    }
  }
}