<div class="modal-header">
    <h4 class="modal-title">{{displayTitle()}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <input *ngIf="isDonation()" type="number" class="form-control mb-3" placeholder="Add Donation Amount (USD)" [(ngModel)]="amount" [required]="true" min="1">
    <ngx-paypal *ngIf="isValidAmount()" [config]="payPalConfig"></ngx-paypal>
</div>
