<nav class="navbar navbar-expand-lg navbar-dark bg-dark box-shadow">
  <a [routerLink]="['']" [title]="environment?.name" class="navbar-brand text-warning text-capitalize">{{environment?.name}}</a>
  <button class="navbar-toggler text-dark bg-warning" type="button" data-toggle="collapse" data-target="#customNavBar" aria-controls="customNavBar" aria-expanded="false" aria-label="Toggle navigation">
    <ng-container *ngIf="isPlatformBrowser()">
      <fa-icon [icon]="['fas', 'bars']"></fa-icon>
    </ng-container>
  </button>
  <div class="collapse navbar-collapse" id="customNavBar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a [routerLink]="['']" [ngClass]="{'active': isActive('')}" class="nav-link" title="Home">
          Home
        </a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" title="Shop Ventrips" href="https://shop.ventrips.com/" target="__blank" rel="noopener noreferrer">
          Shop
        </a>
      </li> -->
      <li class="nav-item">
        <a [routerLink]="['symbol']" [ngClass]="{'active': isActive('symbol')}" class="nav-link" title="Stocks">
          Stocks
        </a>
      </li>
      <!-- <li class="nav-item dropdown cursor-pointer">
        <a class="nav-link dropdown-toggle" title="User Dropdown" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          [ngClass]="{'active': isActive('/symbol')}">
          <span>Stocks</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" data-toggle="collapse" data-target=".navbar-collapse.collapse.show">
          <ng-container>
              <a class="dropdown-item" title="SPY" [routerLink]="['symbol', 'spy']" [ngClass]="{'active': isActive('/symbol')}">
                SPY
              </a>
          </ng-container>
        </div>
      </li> -->
      <ng-container *ngIf="authService?.canEdit(user)">
        <li [ngClass]="{'active': isActive('trends')}" class="nav-item">
          <a [routerLink]="['', 'trends']" [title]="'Trends'" class="nav-link">
            Trends
            <span *ngIf="isActive('trends')" class="sr-only">(current)</span>
          </a>
        </li>
      </ng-container>
      <li class="nav-item">
        <a [routerLink]="['calculator', 'split-bill']" [ngClass]="{'active': isActive('calculator/split-bill')}" class="nav-link" title="Split Bill Calculator">
          Split Bill Calculator
        </a>
      </li>
      <li *ngFor="let item of navBarLinks" [ngClass]="{'active': isActive(item?.url)}" class="nav-item">
        <a [routerLink]="['', item?.url]" [title]="item?.title" class="nav-link">
          {{item?.title}}
          <span *ngIf="isActive(item?.url)" class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item" *ngIf="!user">
        <div class="nav-link cursor-pointer" title="Log In" (click)="login()">
          <span>Log In</span>
        </div>
      </li>
      <li class="nav-item dropdown cursor-pointer" *ngIf="user">
        <a class="nav-link dropdown-toggle" title="User Dropdown" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          [ngClass]="{'active': isActive('/admin')}">
          <img class="rounded-circle profile-picture mr-3" [src]="user?.photoURL" alt="Profile Picture">
          <span>{{user?.displayName}}</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" data-toggle="collapse" data-target=".navbar-collapse.collapse.show">
          <ng-container *ngIf="authService?.isAdmin(user)">
              <a class="dropdown-item" title="Admin" [routerLink]="['/admin']" [ngClass]="{'active': isActive('/admin')}">
                Admin
              </a>
              <div class="dropdown-divider"></div>
          </ng-container>
          <ng-container *ngIf="authService?.canEdit(user)">
            <a class="dropdown-item" title="Profile" [routerLink]="['/profile', user?.uid]" [ngClass]="{'active': isActive('/profile')}">
              Profile
            </a>
            <div class="dropdown-divider"></div>
          </ng-container>
          <a class="dropdown-item" (click)="authService.signOut()">
            Log Out
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>