<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <a [routerLink]="['']" [title]="environment?.name" class="navbar-brand text-capitalize">{{environment?.name}}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#customNavBar" aria-controls="customNavBar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="customNavBar">
    <ul class="navbar-nav ml-auto">
      <li *ngFor="let item of navBarLinks" [ngClass]="{'active': isActive(item?.url)}" class="nav-item">
        <a [routerLink]="['', item?.url]" [title]="item?.title" class="nav-link">
          {{item?.title}}
          <span *ngIf="isActive(item?.url)" class="sr-only">(current)</span>
        </a>      
      </li>
      <li class="nav-item" data-toggle="collapse" data-target=".navbar-collapse.collapse.show" *ngIf="!authService?.getUser()">
        <a [routerLink]="['/login']" [ngClass]="{'active': isActive('/login')}" class="nav-link text-shadow" title="Log In" >
          Log In
        </a>
      </li>
      <li class="nav-item dropdown cursor-pointer" *ngIf="authService?.getUser()">
        <a class="nav-link dropdown-toggle" title="User Dropdown" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          [ngClass]="{'active': isActive('/admin')}">
          <img class="rounded-circle avatar box-shadow mr-3" [src]="authService?.getPhotoURL()" alt="Avatar">
          <span>{{authService?.getDisplayName()}}</span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown" data-toggle="collapse" data-target=".navbar-collapse.collapse.show">
          <ng-container *ngIf="authService?.isAdmin()">
            <a class="dropdown-item" title="Admin" [routerLink]="['/admin']" [ngClass]="{'active': isActive('/admin')}">
              Admin
            </a>
            <div class="dropdown-divider"></div>
          </ng-container>
          <a class="dropdown-item" (click)="authService.signOut()">
            Log Out
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>