<section class="mt-5">
    <div class="d-flex flex-wrap align-items-center mb-4">
        <h3>Best Stocks</h3>
        <h3 class="ml-auto" *ngIf="stocks?.results">Results: {{stocks?.results}}</h3>
    </div>
    <ul class="list-unstyled">
        <li class="media mb-4" *ngFor="let stock of _.get(stocks, ['data'], []); let index = index;">
            <span class="mr-3 font-weight-bold">{{index + 1}}.</span>
            <div class="media-body">
                <div>
                    <h3 class="font-weight-bolder mr-2">
                        {{stock?.yahooFinance?.symbol}} - {{stock?.yahooFinance?.longName}}
                        <div *ngIf="_.get(stock, ['otcMarkets', 'market'])" class="badge badge-info font-weight-bold ml-2">
                            <ng-container *ngIf="isPlatformBrowser()">
                                <fa-icon [icon]="['fas', 'star']" class="text-warning mr-1 fa-1x"></fa-icon>
                            </ng-container>
                            <span>{{_.get(stock, ['otcMarkets', 'market'])}}</span>
                        </div>
                    </h3>
                    <div class="d-flex flex-wrap align-items-center">
                        <h4 class="mr-2">
                            <span class="font-weight-bold">Price:</span> {{stock?.yahooFinance?.regularMarketPrice | currency:'USD':'symbol':'1.2-4'}}</h4>
                        <h4 class="mr-2">
                            <span class="font-weight-bold">Volume:</span> {{_.get(stock, ['yahooFinance', 'regularMarketVolume'], 0) | number}}</h4>
                        <h4 class="mr-2">
                            <span class="font-weight-bold">Market Cap:</span> {{_.get(stock, ['yahooFinance', 'marketCap'], 0) | currency:'USD':'symbol':'1.0-0'}}</h4>
                        <h4 class="mr-2">
                            <span class="font-weight-bold">Exchange:</span> {{_.get(stock, ['yahooFinance', 'fullExchangeName'])}}</h4>
                    </div>
                </div>
                <div class="d-flex flex-wrap">
                    <a [href]="_.get(stock, ['resources', key])" [title]="_.startCase(key)" target="__blank" class="mb-2 mr-2" *ngFor="let key of _.get(stock, ['resources'], []) | keys">{{_.startCase(key)}}</a>
                </div>
                <div class="d-flex flex-wrap">
                    <!-- <img src="https://ih.advfn.com/p.php?pid=staticchart&amp;s={{stock.symbol}}&amp;p=0&amp;t=17&amp;width=500&amp;height=300&amp;vol=1&amp;min_pre=180&amp;min_after=240&amp;delay=1" style="border-width:0px;height:300px;width:500px;">
                    <img src="https://ih.advfn.com/p.php?pid=staticchart&amp;s={{stock.symbol}}&amp;p=5&amp;t=1&amp;width=500&amp;height=300&amp;vol=1&amp;min_pre=180&amp;min_after=240&amp;delay=1" style="border-width:0px;height:300px;width:500px;"> -->
                </div>
                <div *ngIf="stock.otcData">
                    <p *ngIf="stock.otcData.hasPinkData" class="text-success">Pink Current Information</p>
                    <p *ngIf="stock.otcData.verifiedProfile" class="text-success">{{stock.otcData.verifiedProfile}}</p>
                    <p *ngIf="stock.otcData.pennyStockExempt" class="text-success">Penny Stock Exempt</p>
                    <p *ngIf="stock.otcData.transferAgentVerified" class="text-success">Transfer Agent Verified</p>
                    <p *ngIf="stock.otcData.hasShell" class="text-success">Shell</p>
                </div>
                <div class="row">
                    <div class="col" *ngIf="stock.secStats">
                        <h3>SEC Stats</h3>
                        <p *ngIf="stock.secStats.averageNumberPostsPerYear" class="text-success">Average number of posts per year: {{stock.secStats.averageNumberPostsPerYear}} posts</p>
                        <p *ngIf="stock.secStats.averageNumberPostsPerMonth" class="text-success">Average number of posts per month: {{stock.secStats.averageNumberPostsPerMonth}} posts</p>
                        <p *ngIf="stock.secStats.averageNumberOfDaysBetweenPosts" class="text-success">Average number of days between posts: {{stock.secStats.averageNumberOfDaysBetweenPosts}} days</p>
                        <p *ngIf="stock.secStats.numberOfDaysSinceLastPublish" class="text-success">Days since last post: {{stock.secStats.numberOfDaysSinceLastPublish}} days</p>
                        <p *ngIf="stock.secStats.numberOfReports" class="text-success">Total number of reports: {{stock.secStats.numberOfReports}} reports</p>
                    </div>
                    <div class="col" *ngIf="stock.mixedStats">
                        <h3>SEC &amp; OTC Stats</h3>
                        <p *ngIf="stock.mixedStats.averageNumberPostsPerYear" class="text-success">Average number of posts per year: {{stock.mixedStats.averageNumberPostsPerYear}} posts</p>
                        <p *ngIf="stock.mixedStats.averageNumberPostsPerMonth" class="text-success">Average number of posts per month: {{stock.mixedStats.averageNumberPostsPerMonth}} posts</p>
                        <p *ngIf="stock.mixedStats.averageNumberOfDaysBetweenPosts" class="text-success">Average number of days between posts: {{stock.mixedStats.averageNumberOfDaysBetweenPosts}} days</p>
                        <p *ngIf="stock.mixedStats.numberOfDaysSinceLastPublish" class="text-success">Days since last post: {{stock.mixedStats.numberOfDaysSinceLastPublish}} days</p>
                        <p *ngIf="stock.mixedStats.numberOfReports" class="text-success">Total number of reports: {{stock.mixedStats.numberOfReports}} reports</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col" *ngIf="stock.secData">
                        <button (click)="stock.hideSecData = !stock.hideSecData">{{stock.hideSecData ? 'Hide SEC Filings' : 'Show SEC Filings'}}</button>
                        <table class="table" *ngIf="stock.hideSecData">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Form</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let report of stock.secData; let index = index;">
                                    <th scope="row">{{index}}</th>
                                    <td *ngIf="report.formColumnText">{{report.formColumnText}}</td>
                                    <td *ngIf="report.reportText">{{report.reportText}}</td>
                                    <td *ngIf="report.reportDate">{{report.reportDate}}</td>
                                    <td *ngIf="report.reportLink">
                                        <a href="https://sec.report/{{report.reportLink}}" target="_blank">
                                            Link to report
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col" *ngIf="stock.secOtcData">
                        <button (click)="stock.hideSecOtcData = !stock.hideSecOtcData">{{stock.hideSecOtcData ? 'Hide OTC Filings' : 'Show OTC Filings'}}</button>
                        <div *ngIf="stock.secOtcStats">
                            <h3>OTC stats</h3>
                            <p *ngIf="stock.secOtcStats.averageNumberPostsPerYear" class="text-success">Average number of posts per year: {{stock.secOtcStats.averageNumberPostsPerYear}}</p>
                            <p *ngIf="stock.secOtcStats.averageNumberPostsPerMonth" class="text-success">Average number of posts per month: {{stock.secOtcStats.averageNumberPostsPerMonth}}</p>
                            <p *ngIf="stock.secOtcStats.averageNumberOfDaysBetweenPosts" class="text-success">Average number of days between posts: {{stock.secOtcStats.averageNumberOfDaysBetweenPosts}}</p>
                            <p *ngIf="stock.secOtcStats.numberOfDaysSinceLastPublish" class="text-success">Days since last post: {{stock.secOtcStats.numberOfDaysSinceLastPublish}}</p>
                            <p *ngIf="stock.secOtcStats.numberOfReports" class="text-success">Total number of reports: {{stock.secOtcStats.numberOfReports}}</p>
                        </div>
                        <table class="table" *ngIf="stock.hideSecOtcData">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Form</th>
                                    <th scope="col">Title</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Link</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let report of stock.secOtcData; let index = index;">
                                    <th scope="row">{{index}}</th>
                                    <td *ngIf="report.formColumnText">{{report.formColumnText}}</td>
                                    <td *ngIf="report.reportText">{{report.reportText}}</td>
                                    <td *ngIf="report.reportDate">{{report.reportDate}}</td>
                                    <td *ngIf="report.reportLink">
                                        <a href="https://sec.report/{{report.reportLink}}" target="_blank">
                                            Link to report
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col" *ngIf="stock.statementStats">
                        <div *ngIf="stock.statementStats">
                            <h3>Profit stats</h3>
                            <p *ngIf="stock.statementStats.overallPercentProfitGrowth" class="text-success">Overall percent growth: {{stock.statementStats.overallPercentProfitGrowth}}</p>
                            <p *ngIf="stock.statementStats.averagePercentProfitGrowth" class="text-success">Average percent growth: {{stock.statementStats.averagePercentProfitGrowth}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </li>
    </ul>
</section>