<!-- Horizontal Display Ad-->
<section class="container text-center pt-2 mb-5">
    <ng-adsense
        [fullWidthResponsive]="true"
        [display]="'block'"
        [adClient]="'ca-pub-4642980268605791'"
        [adSlot]=2801999023
        [adFormat]="'auto'">
    </ng-adsense>
</section>
<div class="container my-3" *ngIf="authService?.isAdmin(user)">
    <app-edit-button [collection]="collection" [id]="id" [data]="data" [isNew]="false" [inputsConfig]="inputsConfig"></app-edit-button>
</div>
<section class="mt-5">
    <ng-container *ngIf="data">
        <div class="row no-gutters">
            <div class="col-12">
                <div class="container mb-3">
                    <h1>{{data?.title}}</h1>
                    <p class="text-secondary">{{data?.description}}</p>
                </div>
            </div>
                <div class="col-12">
                <div class="container mb-5">
                    <app-contact-form></app-contact-form>
                </div>
            </div>
        </div>
        <figure *ngIf="data?.image" class="mb-0">
            <div class="image-banner box-shadow" [ngStyle]="{'background-image': 'url(' + data?.image + ')'}"></div>
        </figure>
    </ng-container>
    <app-error-not-found *ngIf="!data"></app-error-not-found>
</section>