<!-- Horizontal Display Ad-->
<section class="container text-center pt-2 mb-5">
  <ng-adsense
    [fullWidthResponsive]="true"
    [display]="'block'"
    [adClient]="'ca-pub-4642980268605791'"
    [adSlot]=2801999023
    [adFormat]="'auto'">
  </ng-adsense>
</section>
<section>
  <ng-container class="mt-5">
    <div class="container mb-4">
      <div class="h5 my-4">
        <h1 class="mb-4">Split Bill Calculator</h1>
        <p>Whether you're eating out or travelling with a group, there may come a time when you need to split the bill and pay your portion. This tool will calculate individual bills for you!</p>
      </div>
      <div>
          <!-- Person Section -->
          <section class="person mb-3">
                <ng-container *ngFor="let person of form?.persons; let pIndex = index">
                    <div class="row py-3">
                        <!-- Form -->
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <label for="{{'personName' + (pIndex + 1)}}">Person #{{(pIndex + 1)}} Name</label>
                                <div class="input-group custom-input-group">
                                    <input [(ngModel)]="person.name" type="text" class="form-control" id="{{'person' + (pIndex + 1)}}" placeholder="{{'Enter Person ' + (pIndex + 1) + ' Name'}}">
                                    <div class="input-group-append">
                                        <button class="btn btn-danger text-capitalize" (click)="(form?.persons).splice(pIndex, 1)">
                                            <ng-container *ngIf="isPlatformBrowser()">
                                                <fa-icon [icon]="['fas', 'times']"></fa-icon>
                                            </ng-container>
                                            <ng-container *ngIf="!isPlatformBrowser()">
                                                Remove
                                            </ng-container>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- Items Section -->
                            <section class="ml-4">
                                <ng-container class="ml-3" *ngFor="let item of person?.items; let iIndex = index; ">
                                    <label for="{{'itemName' + (iIndex + 1)}}">Item #{{(iIndex + 1)}} Name</label>
                                    <div class="input-group mb-3">
                                        <input [(ngModel)]="item.name" type="text" class="form-control" id="{{'itemName' + (iIndex + 1)}}" placeholder="{{'Enter Item ' + (iIndex + 1) + ' Name'}}">
                                        <div class="input-group-append">
                                            <button class="btn btn-danger text-capitalize" (click)="(person?.items).splice(iIndex, 1)">
                                                <ng-container *ngIf="isPlatformBrowser()">
                                                    <fa-icon [icon]="['fas', 'times']"></fa-icon>
                                                </ng-container>
                                                <ng-container *ngIf="!isPlatformBrowser()">
                                                    Remove
                                                </ng-container>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="{{'itemPrice' + (iIndex + 1)}}">Item #{{(iIndex + 1)}} Price</label>
                                        <input [(ngModel)]="item.price" type="number" class="form-control" id="{{'itemPrice' + (iIndex + 1)}}" placeholder="{{'Enter Item ' + (iIndex + 1) + ' Price'}}">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="{{'itemTax' + (iIndex + 1)}}">Item #{{(iIndex + 1)}} Tax</label>
                                        <div class="input-group custom-input-group">
                                            <input [(ngModel)]="item.tax" type="number" class="form-control" id="{{'tax'}}" placeholder="{{'Enter Item ' + (iIndex + 1) + ' Tax'}}">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-primary" (click)="item.tax = tax" [ngClass]="{'active': _.isEqual(item?.tax, tax)}" *ngFor="let tax of [0, 10]">
                                                    {{tax}}%
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="{{'itemGratuity' + (iIndex + 1)}}">Item #{{(iIndex + 1)}} Gratuity</label>
                                        <div class="input-group custom-input-group">
                                            <input [(ngModel)]="item.gratuity" type="number" class="form-control" id="{{'itemGratuity' + (iIndex + 1)}}" placeholder="{{'Enter Item ' + (iIndex + 1) + ' Gratuity'}}">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-primary" (click)="item.gratuity = percent" [ngClass]="{'active': _.isEqual(item?.gratuity, percent)}" *ngFor="let percent of [0, 10, 15, 18]">
                                                    {{percent}}%
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <button class="btn btn-primary d-block mb-3" (click)="person?.items?.push({includeTax:true})">
                                    Add New Item
                                    <ng-container *ngIf="isPlatformBrowser()">
                                        <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
                                    </ng-container>
                                </button>
                            </section>
                        </div>
                        <!-- Total -->
                        <div class="col-sm-12 col-md-6">
                            <h2>{{person?.name || ('Person #' + (pIndex + 1))}} pays... <span class="text-success">{{calculateGrandTotal(person) | currency}}</span></h2>
                            <div class="mb-5">
                                <div *ngFor="let item of person?.items; let iIndex = index">
                                    <div class="row">
                                        <div class="col-8">
                                            {{item?.name || ('Item #' + (iIndex + 1))}}
                                        </div>
                                        <div class="col-4 text-right">
                                            {{(item?.price || 0) | currency}}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-8">
                                            Tax ({{item?.tax}}%)
                                        </div>
                                        <div class="col-4 text-right">
                                            {{calculateTaxOrGratuity(item, 'tax') | currency}}
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-8 text-dark font-weight-bold">
                                        Sub Total
                                    </div>
                                    <div class="col-4 text-right font-weight-bold">
                                        {{calculateAllSubTotal(person) | currency}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        Sub Tax
                                    </div>
                                    <div class="col-4 text-right">
                                        {{calculateAllTaxOrGratuity(person, 'tax') | currency}}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-8">
                                        Gratuity
                                    </div>
                                    <div class="col-4 text-right">
                                        {{calculateAllTaxOrGratuity(person, 'gratuity') | currency}}
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-8 text-dark font-weight-bold">
                                        Total
                                    </div>
                                    <div class="col-4 text-right font-weight-bold">
                                        {{calculateGrandTotal(person) | currency}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </section>
            <button class="btn btn-primary d-block mb-3" (click)="form?.persons?.push({items:[{}]})">Add New Person
                <ng-container *ngIf="isPlatformBrowser()">
                    <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
                </ng-container>
            </button>
            <button class="btn btn-warning d-block mb-3" (click)="clearForm()">Clear Form</button>
            <!-- Grand Total -->
            <div class="row">
                <div class="col-sm-12 col-md-6">
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <h2>
                        The Grand Total is... <span class="text-success">{{calculateAllGrandTotal(form?.persons) | currency}}</span>
                    </h2>
                </div>
            </div>
        </div>
    </div>
   </ng-container>
    <section class="container text-center">
      <!-- Horizontal Display Ad-->
      <ng-adsense
        [fullWidthResponsive]="true"
        [display]="'block'"
        [adClient]="'ca-pub-4642980268605791'"
        [adSlot]=2801999023
        [adFormat]="'auto'">
      </ng-adsense>
    </section>
</section>
