<section>
    <ng-container *ngIf="!isLoading">
        <ng-container *ngIf="profile">
            <div class="container my-5">
                <app-edit-modal *ngIf="authService?.canEdit(user)"
                    [collection]="'users'"
                    [id]="profile?.uid"
                    [data]="profile"
                    [isNew]="false"
                    [string]="[]"
                    [quill]="['bio']"
                    [date]="[]"
                    [boolean]="[]"
                    [disabled]="[]">
                </app-edit-modal>
                <div class="d-flex flex-wrap align-items-center mb-3">
                    <img class="rounded-circle profile-picture mr-3" [src]="profile?.photoURL" alt="Profile Picture">        
                    <h1 class="mb-0">{{profile?.displayName}}</h1>
                </div>
                <p class="mb-0"><span class="font-weight-bold">Joined:</span> {{profile?.joined?.toDate() | date: 'longDate'}} ({{profile?.joined?.toDate() | timeAgo}})</p>
                <p class="mb-0"><span class="font-weight-bold">Last Active:</span> {{profile?.lastActive?.toDate() | date: 'longDate'}} ({{profile?.lastActive?.toDate() | timeAgo}})</p>
                <!-- Role -->
                <div class="mb-3" *ngIf="authService?.canEdit(user)">
                    <div *ngFor="let key of user?.roles | keys">
                        <span class="font-weight-bold mr-1">{{_.capitalize(key)}}:</span>
                        <span class="fas" [ngClass]="{ 'fa-toggle-on text-warning':  _.get(user, ['roles', key]), 'fa-toggle-off text-muted':  !_.get(user, ['roles', key]) }" ></span>
                    </div>
                    <!-- <app-stripe-check-out [amount]="'100'" [description]="'Donation'"></app-stripe-check-out> -->
                    <!-- <app-stripe-elements [amount]="'100'" [description]="'Donation'"></app-stripe-elements> -->    
                </div>
                <hr/>
                <!-- Profile -->
                <section>
                    <p *ngIf="profile?.bio" [innerHTML]="profile?.bio"></p>
                    <p *ngIf="!profile?.bio" class="text-center font-weight-light text-muted">{{profile?.displayName}} has no profile information</p>
                </section>
            </div>
        </ng-container>
        <div *ngIf="!profile" class="text-center my-5">
        <h1 class="text-uppercase">Sorry!</h1>
        <p class="text-muted">This page does not exist. Return to <a class="text-warning" [routerLink]="['/']">Home</a></p>
        </div>
    </ng-container>
</section>
