<div class="container-fluid my-3">
    <app-edit-modal *ngIf="authService?.canEdit(user, profile?.uid)"
        [collection]="collection"
        [id]="profile?.uid"
        [data]="profile"
        [isNew]="false"
        [inputsConfig]="inputsConfig">
    </app-edit-modal>
</div>
<section>
    <ng-container *ngIf="!isLoading">
        <ng-container *ngIf="profile">
            <div class="container my-5" [@enter]>
                <div class="d-flex flex-wrap align-items-center mb-3">
                    <img class="rounded-circle profile-picture mr-3" [src]="profile?.photoURL" alt="Profile Picture">        
                    <h1 class="mb-0">{{profile?.displayName}}</h1>
                </div>
                <p class="mb-0"><span class="font-weight-bold" *ngIf="profile?.joined">Joined:</span> {{profile?.joined | timeStampDate:'longDate'}} ({{profile?.joined | timeAgo}})</p>
                <p class="mb-0"><span class="font-weight-bold" *ngIf="profile?.lastActive">Last Active:</span> {{profile?.lastActive | timeStampDate:'longDate'}} ({{profile?.lastActive | timeAgo}})</p>
                <!-- Role -->
                <div class="mb-3" *ngIf="authService?.canEdit(user, profile?.uid)">
                    <div *ngFor="let key of profile?.roles | keys">
                        <span class="font-weight-bold mr-1">{{_.capitalize(key)}}:</span>
                        <span class="fas" [ngClass]="{ 'fa-toggle-on text-warning':  _.get(user, ['roles', key]), 'fa-toggle-off text-muted':  !_.get(user, ['roles', key]) }" ></span>
                    </div>
                    <!-- <app-stripe-check-out [amount]="'100'" [description]="'Donation'"></app-stripe-check-out> -->
                    <!-- <app-stripe-elements [amount]="'100'" [description]="'Donation'"></app-stripe-elements> -->    
                </div>
                <hr/>
                <!-- Profile -->
                <section>
                    <quill-view-html *ngIf="profile?.bio" [content]="profile?.bio" theme="snow"></quill-view-html>
                    <p *ngIf="!profile?.bio" class="text-center font-weight-light text-muted">{{profile?.displayName}} has no profile information</p>
                </section>
            </div>
        </ng-container>
        <div *ngIf="!profile" class="text-center my-5">
        <h1 class="text-uppercase">Sorry!</h1>
        <p class="text-muted">This page does not exist. Return to <a class="text-warning" [routerLink]="['/']">Home</a></p>
        </div>
    </ng-container>
</section>
