<!-- Horizontal Display Ad-->
<section class="container text-center pt-2 mb-5">
  <ng-adsense
    [fullWidthResponsive]="true"
    [display]="'block'"
    [adClient]="'ca-pub-4642980268605791'"
    [adSlot]=2801999023
    [adFormat]="'auto'">
  </ng-adsense>
</section>
<section>
  <ng-container class="mt-5">
    <div class="container mb-4">
      <div class="h5 my-4">
        <h1 class="mb-4">{{title}}</h1>
        <p>{{description}}</p>
      </div>
      <div class="d-flex flex-wrap align-items-center my-2">
        <span class="h5 my-2 mr-3">Share</span>
        <share-buttons
        [theme]="'default'"
        [include]="['twitter', 'facebook', 'linkedin', 'reddit', 'tumblr', 'copy']"
        [exclude]="[]"
        [showText]="false"
        [showCount]="false"
        url="{{environment.url}}{{url}}">
        </share-buttons>
      </div>
      <div>
          <!-- Person Section -->
          <section class="person mb-3">
                <ng-container *ngFor="let person of form?.persons; let pIndex = index">
                    <div class="row rounded py-5">
                        <!-- Form -->
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                                <h4 class="d-flex flex-wrap">
                                    <span>Person #{{(pIndex + 1)}}</span>
                                    <button class="btn btn-danger text-capitalize ml-auto" (click)="(form?.persons).splice(pIndex, 1)">
                                        <ng-container *ngIf="isPlatformBrowser()">
                                            <fa-icon [icon]="['fas', 'times']"></fa-icon>
                                        </ng-container>
                                        <ng-container *ngIf="!isPlatformBrowser()">
                                            Remove
                                        </ng-container>
                                    </button>
                                </h4>
                                <label for="{{'personName'}}">Name</label>
                                <input [(ngModel)]="person.name" type="text" class="form-control" id="{{'person'}}" placeholder="{{'Enter Person Name'}}">
                            </div>
                            <!-- Items Section -->
                            <section class="ml-4">
                                <ng-container class="ml-3" *ngFor="let item of person?.items; let iIndex = index; ">
                                    <h4 class="d-flex flex-wrap">
                                        <span>Item #{{(iIndex + 1)}}</span>
                                        <button class="btn btn-danger text-capitalize ml-auto" (click)="(person?.items).splice(iIndex, 1)">
                                            <ng-container *ngIf="isPlatformBrowser()">
                                                <fa-icon [icon]="['fas', 'times']"></fa-icon>
                                            </ng-container>
                                            <ng-container *ngIf="!isPlatformBrowser()">
                                                Remove
                                            </ng-container>
                                        </button>
                                    </h4>
                                    <label for="{{'itemName'}}">Name</label>
                                    <input [(ngModel)]="item.name" type="text" class="form-control" id="{{'itemName'}}" placeholder="{{'Enter Item Name'}}">
                                    <div class="form-group mb-3">
                                        <label for="{{'itemPrice'}}">Price ($)</label>
                                        <input [(ngModel)]="item.price" type="number" class="form-control" id="{{'itemPrice'}}" placeholder="{{'Enter Item Price'}}">
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="{{'itemTax'}}">Tax (%)</label>
                                        <div class="input-group custom-input-group">
                                            <input [(ngModel)]="item.tax" (ngModelChange)="defaultItem.tax = _.cloneDeep(item.tax)" type="number" class="form-control" id="{{'tax'}}" placeholder="{{'Enter Item Tax'}}">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-primary" (click)="item.tax = tax; defaultItem.tax = _.cloneDeep(item.tax)" [ngClass]="{'active': _.isEqual(item?.tax, tax)}" *ngFor="let tax of [0, 6, 7, 8, 9, 10]">
                                                    {{tax || 0}}%
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="{{'itemGratuity'}}">Gratuity (%)</label>
                                        <div class="input-group custom-input-group">
                                            <input [(ngModel)]="item.gratuity" (ngModelChange)="defaultItem.gratuity = _.cloneDeep(item.gratuity)" type="number" class="form-control" id="{{'itemGratuity'}}" placeholder="{{'Enter Item Gratuity'}}">
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-primary" (click)="item.gratuity = percent; defaultItem.gratuity = _.cloneDeep(item.gratuity)" [ngClass]="{'active': _.isEqual(item?.gratuity, percent)}" *ngFor="let percent of [0, 10, 15, 18, 20]">
                                                    {{percent}}%
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <button class="btn btn-lg btn-block btn-primary d-block py-3 my-5 mx-auto" (click)="person?.items?.push(_.cloneDeep(defaultItem))">
                                    Add New Item
                                    <ng-container *ngIf="isPlatformBrowser()">
                                        <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
                                    </ng-container>
                                </button>
                            </section>
                        </div>
                        <!-- Total -->
                        <div class="col-sm-12 col-md-6">
                            <h2><span class="text-capitalize">{{person?.name || ('Person #' + (pIndex + 1))}}</span> pays... <span class="text-success">{{calculateGrandTotal(person) | currency}}</span></h2>
                            <div class="my-4">
                                <div *ngFor="let item of person?.items; let iIndex = index">
                                    <div class="row">
                                        <div class="col-8">
                                            <span class="text-capitalize font-weight-bold">{{item?.name || ('Item #' + (iIndex + 1))}}</span>
                                        </div>
                                        <div class="col-4 text-right">
                                            {{(item?.price || 0) | currency}}
                                        </div>
                                    </div>
                                    <div class="row ml-3" *ngIf="!_.isEqual(item?.tax, 0)">
                                        <div class="col-8">
                                            Tax ({{item?.tax || 0}}%)
                                        </div>
                                        <div class="col-4 text-right">
                                            {{(calculateTaxOrGratuity(item, 'tax') || 0) | currency}}
                                        </div>
                                    </div>
                                    <div class="row ml-3" *ngIf="!_.isEqual(item?.gratuity, 0)">
                                        <div class="col-8">
                                            Gratuity ({{item?.gratuity || 0}}%)
                                        </div>
                                        <div class="col-4 text-right">
                                            {{(calculateTaxOrGratuity(item, 'gratuity') || 0) | currency}}
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="row h3">
                                    <div class="col-8 text-dark font-weight-bold">
                                        Sub Total
                                    </div>
                                    <div class="col-4 text-right font-weight-bold">
                                        {{(calculateAllSubTotal(person) || 0) | currency}}
                                    </div>
                                </div>
                                <div class="row h4">
                                    <div class="col-8">
                                        Tax
                                    </div>
                                    <div class="col-4 text-right">
                                        {{(calculateAllTaxOrGratuity(person, 'tax') || 0) | currency}}
                                    </div>
                                </div>
                                <div class="row h4">
                                    <div class="col-8">
                                        Gratuity
                                    </div>
                                    <div class="col-4 text-right">
                                        {{(calculateAllTaxOrGratuity(person, 'gratuity') || 0) | currency}}
                                    </div>
                                </div>
                                <hr>
                                <div class="row h2">
                                    <div class="col-8 text-dark font-weight-bold">
                                        Total
                                    </div>
                                    <div class="col-4 text-right font-weight-bold">
                                        {{(calculateGrandTotal(person) || 0) | currency}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </section>
            <div class="d-flex flex-wrap justify-content-center">
                <button class="btn btn-lg btn-block btn-primary d-block py-3 my-5" (click)="form?.persons?.push(_.cloneDeep(defaultPerson))">Add New Person
                    <ng-container *ngIf="isPlatformBrowser()">
                        <fa-icon [icon]="['fas', 'plus-circle']"></fa-icon>
                    </ng-container>
                </button>
            </div>
            <!-- Grand Total -->
            <div class="row" *ngIf="form?.persons?.length">
                <div class="col-sm-12 col-md-6">
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <h2>
                        The Grand Total is... <span class="text-success">{{calculateAllGrandTotal(form?.persons) | currency}}</span>
                    </h2>
                </div>
            </div>
            <div class="d-flex flex-wrap justify-content-center my-5">
                <button class="btn btn-warning d-block mr-4 mb-3" (click)="resetForm()">Reset Form</button>
                <button class="btn btn-info d-block mr-4 mb-3" (click)="demoForm()">Demo Form</button>
            </div>
        </div>
    </div>
   </ng-container>
    <section class="container text-center">
      <!-- Horizontal Display Ad-->
      <ng-adsense
        [fullWidthResponsive]="true"
        [display]="'block'"
        [adClient]="'ca-pub-4642980268605791'"
        [adSlot]=2801999023
        [adFormat]="'auto'">
      </ng-adsense>
    </section>
</section>
