<section class="mb-5 bg-white">
    <h5 class="text-capitalize text-center mb-0 p-3 text-wrap">
        <div>
            {{yahooFinance?.shortName}} ({{yahooFinance?.symbol}})
        </div>
        <div>{{date | date:'fullDate'}}</div>
        <div *ngIf="canEdit">
            <span *ngIf="dayTradeRuleWorks?.CALL?.success" class="badge badge-success font-weight-bold mr-2">CALL SUCCESS</span>
            <span *ngIf="dayTradeRuleWorks?.CALL?.fail" class="badge badge-danger font-weight-bold mr-2">CALL FAIL</span>
            <span *ngIf="dayTradeRuleWorks?.PUT?.success" class="badge badge-success font-weight-bold mr-2">PUT SUCCESS</span>
            <span *ngIf="dayTradeRuleWorks?.PUT?.fail" class="badge badge-danger font-weight-bold mr-2">PUT FAIL</span>
        </div>
    </h5>
    <div class="p-2 small bg-warning font-weight-bold" *ngIf="canEdit && !_.isEmpty(dayTradeLogs)">
        <p class="mb-0" *ngFor="let log of dayTradeLogs">
            {{log}}
        </p>
    </div>
    <div class="flex">
        <div class="flex-item">
            <div style="display: block;">
                <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
                    [legend]="lineChartLegend" [chartType]="lineChartType" [plugins]="lineChartPlugins" [colors]="lineChartColors"
                    (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)">
                </canvas>
            </div>
        </div>
        <!-- <div class="flex-item">
            <table class="table table-responsive table-condensed">
                <tr>
                    <th *ngFor="let label of lineChartLabels">{{label}}</th>
                </tr>
                <tr *ngFor="let d of lineChartData; let i=index" [class]="'line-'+i">
                    <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
                </tr>
            </table>
            <button mat-button mat-raised-button color="primary" (click)="hideIndex(0)">Trends</button>
            <button mat-button mat-raised-button color="primary" (click)="hideIndex(1)">Volume</button>
            <button mat-button mat-raised-button color="primary" (click)="hideIndex(2)">Open</button>
            <button mat-button mat-raised-button color="primary" (click)="hideIndex(3)">High</button>
            <button mat-button mat-raised-button color="primary" (click)="hideIndex(4)">Low</button>
            <button mat-button mat-raised-button color="primary" (click)="hideIndex(5)">Close</button>
        </div> -->
    </div>
</section>