<!-- Horizontal Display Ad-->
<section class="container-fluid text-center pt-2 mb-5">
    <ng-adsense
        [fullWidthResponsive]="true"
        [display]="'block'"
        [adClient]="'ca-pub-4642980268605791'"
        [adSlot]=2801999023
        [adFormat]="'auto'">
    </ng-adsense>
</section>
<div class="container-fluid my-3" *ngIf="authService?.isAdmin(user)">
    <app-edit-button [collection]="collection" [id]="id" [data]="data" [isNew]="false" [inputsConfig]="inputsConfig"></app-edit-button>
</div>
<section class="my-5">
    <div class="container mb-3">
        <h1>{{data?.title}}</h1>
    </div>
    <div class="container mb-3">
        <quill-view-html [content]="quillService.format(data?.body)" theme="snow"></quill-view-html>
    </div>
</section>