<section>
    <div class="container-fluid my-5">
        <section *ngIf="!_.isEmpty(predict)">
            <div class="row" *ngFor="let firstKey of keys">
                <div class="col">
                    <h1>{{_.upperCase(firstKey)}}</h1>
                    <div class="row">
                        <div [ngClass]="{ 'col': _.isEqual(firstKey, 'earnings'), 'col-4': !_.isEqual(firstKey, 'earnings') } " *ngFor="let secondKey of _.get(predict, [firstKey]) | keys">
                            <h2>{{_.upperCase(secondKey)}}</h2>
                            <div class="row">
                                <!-- Earnings -->
                                <ng-container *ngIf="_.isEqual(firstKey, 'earnings')">
                                    <div class="col-2" *ngFor="let item of _.get(predict, [firstKey, secondKey])">
                                        <a [href]="item?.url" [title]="item?.company" target="__blank" class="mr-2">{{item?.company}}</a>
                                        <a [href]="getGoogleSearch(item?.symbol + ' stock')" title="Google Search on {{item?.symbol}} stock" target="__blank" class="mr-2">({{item?.symbol}})</a>
                                        <a [href]="getGoogleTrends(item, 'hourly')" title="Google Trends Hourly on {{item?.company}}" target="__blank" class="mr-2">Hourly</a>
                                        <a [href]="getGoogleTrends(item, 'yearly')" title="Google Trends Yearly on {{item?.company}}" target="__blank" class="mr-2">Yearly</a>
                                        <p>{{item?.releaseDate}}</p>
                                        <p>{{item?.releaseTime}}</p>
                                    </div>
                                </ng-container>
                                <!-- Tickers -->
                                <ng-container *ngIf="_.isEqual(firstKey, 'tickers')">
                                    <div class="col-6" *ngFor="let item of _.get(predict, [firstKey, secondKey])">
                                        <ng-container *ngIf="_.isEqual(secondKey, 'stockTwitsTickers')">
                                            <a [href]="item?.url" [title]="item?.title" target="__blank" class="mr-2">
                                                {{item?.title}}
                                            </a>
                                            <a [href]="getGoogleSearch(item?.symbol + ' stock')" title="Google Search on {{item?.symbol}} stock" target="__blank" class="mr-2">({{item?.symbol}})</a>
                                            <span class="mr-2">Watching: {{item.watchlist_count}}</span>
                                            <a [href]="getGoogleTrends(item, 'hourly')" title="Google Trends Hourly on {{item?.title}}" target="__blank" class="mr-2">Hourly</a>
                                            <a [href]="getGoogleTrends(item, 'yearly')" title="Google Trends Yearly on {{item?.title}}" target="__blank" class="mr-2">Yearly</a>
                                        </ng-container>
                                        <ng-container *ngIf="_.isEqual(secondKey, 'yahooTickers')">
                                            <a [href]="item?.url" [title]="item?.company" target="__blank" class="mr-2">
                                                {{item?.company}}
                                            </a>
                                            <a [href]="getGoogleSearch(item?.symbol + ' stock')" title="Google Search on {{item?.symbol}} stock" target="__blank" class="mr-2">({{item?.symbol}})</a>
                                            <span class="mr-2">Change: {{item?.change}}</span>
                                            <a [href]="getGoogleTrends(item, 'hourly')" title="Google Trends Hourly on {{item?.company}}" target="__blank" class="mr-2">Hourly</a>
                                            <a [href]="getGoogleTrends(item, 'yearly')" title="Google Trends Yearly on {{item?.company}}" target="__blank" class="mr-2">Yearly</a>
                                        </ng-container>
                                    </div>
                                </ng-container>
                                <!-- News -->
                                <ng-container *ngIf="_.isEqual(firstKey, 'news')">
                                    <div class="col-12" *ngFor="let item of _.get(predict, [firstKey, secondKey])">
                                        <a [href]="item?.url" [title]="item?.title" target="__blank">{{item?.title}}</a>
                                        <p>{{item?.date}}</p>
                                        <p>{{item?.description}}</p>
                                    </div>
                                </ng-container>
                                <!-- Forums -->
                                <ng-container *ngIf="_.isEqual(firstKey, 'forums')">
                                    <div class="col-12" *ngFor="let item of _.get(predict, [firstKey, secondKey])">
                                        <a [href]="item?.url" [title]="item?.title" target="__blank">{{item?.title}}</a>
                                        <p>{{item?.date}}</p>
                                        <p>{{item?.description}}</p>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="mb-3">
            <h1 class="text-center text-uppercase">{{q}}</h1>
        </section>
        <section class="mb-3">
            <div class="input-group">
                <input type="text" class="form-control form-control" aria-label="Search for company name, ticker symbol, anything" placeholder="Search for company name, ticker symbol, anything"
                    [(ngModel)]="search" />
                <div class="input-group-append">
                    <button [routerLink]="['/trends']" [queryParams]="{q: search}" class="btn btn-warning" [disabled]="!search">
                        <ng-container *ngIf="isPlatformBrowser()">
                            <fa-icon [icon]="['fas', 'search']" class="text-dark"></fa-icon>
                        </ng-container>
                    </button>
                </div>
            </div>
        </section>
        <section [hidden]="!data">
            <h2 class="text-center" [hidden]="!data">
                Overall Sentiment: {{data?.overallSentiment.score}}
            </h2>
            <div class="d-flex flex-wrap mb-3">
                <p>
                    Last Updated: {{data?.timestamp * 1000 | date: 'medium'}}
                </p>
                <p class="ml-auto">
                    {{data?.articleCount || 0}} Results
                </p>
            </div>
            <section class="row">
                <div class="col-xs-12 col-lg-6" *ngFor="let article of data?.articles">
                    <h3 class="text-break text-wrap">
                        <a [href]="article?.url" target="_blank" rel="noopener noreferrer">
                            {{article?.title}}
                        </a>
                    </h3>
                    <p>
                        {{article?.publishedAt | date: 'medium'}}
                    </p>
                    <p class="text-break text-wrap">
                        {{article?.description}}
                    </p>
                    <p class="text-break text-wrap">
                        Sentiment: {{article?.sentiment?.score}}
                    </p>
                    <p class="text-break text-wrap">
                        Comparative: {{article?.sentiment?.comparative}}
                    </p>
                    <p class="text-break text-wrap">
                        Positive: {{article?.sentiment?.positive}}
                    </p>
                    <p class="text-break text-wrap">
                        Negative: {{article?.sentiment?.negative}}
                    </p>
                    <p class="text-break text-wrap">
                        Words: {{article?.sentiment?.words}}
                    </p>
                    <p class="text-break text-wrap">
                        Tokens: {{article?.sentiment?.tokens}}
                    </p>
                </div>
            </section>
        </section>
    </div>
</section>