<div class="container-fluid my-5">
    <div class="d-flex flex-wrap">
        <div>
            <h1 class="mb-4">{{title}}</h1>
            <p>{{description}}</p>
        </div>
        <div class="d-flex flex-wrap align-items-center my-5 ml-auto">
            <span class="h5 my-2 mr-3">Share</span>
            <share-buttons
            [theme]="'default'"
            [include]="['twitter', 'facebook', 'linkedin', 'reddit', 'tumblr', 'copy']"
            [exclude]="[]"
            [showText]="false"
            [showCount]="false"
            url="{{environment.url}}{{url}}">
            </share-buttons>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <ng-container *ngIf="isPlatformBrowser()">
                <app-travel></app-travel>
            </ng-container>
        </div>
        <div class="col-xs-12 col-lg-6">
            <app-news-api></app-news-api>
        </div>
    </div>
</div>
<ng-container *ngIf="authService?.isAdmin(user)">
    <app-stocks></app-stocks>
</ng-container>