<section class="d-flex justify-content-center align-items-center fill-available">
  <section class="text-center mb-5">
    <h2 class="text-capitalize mb-4">
      Login
    </h2>
    <button class="btn btn-outline-danger btn-lg btn-block px-3" (click)="signInWithGoogle()">
      <i class="fab fa-google mr-3"></i>
      <span>
        Sign in with Google
      </span>
    </button>
    <button class="btn btn-outline-primary btn-lg btn-block" (click)="signInWithFacebook()">
      <i class="fab fa-facebook-square ml-3 mr-3"></i>
      <span>
        Sign in with Facebook
      </span>
    </button>
  </section>
</section>
