<app-navbar></app-navbar>
<main>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
    <section class="container-fluid my-3 text-center">
        <!-- NG-ADSENSE -->
        <ng-adsense></ng-adsense>
        <!-- AMP AUTO ADS -->
        <amp-auto-ads type="adsense" data-ad-client="ca-pub-4642980268605791"></amp-auto-ads>
    </section>
</main>
<app-footer></app-footer>
<div class="scroll-progress scroll-progress--fixed">
    <div class="scroll-progress__indicator box-shadow" [style.width.%]="pageScroll"></div>
</div>
<ngx-spinner
    bdColor="rgba(33, 37, 41, 0.8)"
    size="large"
    color="#ffc107"
    type="ball-clip-rotate">
    <p class="text-warning">Loading...</p>
</ngx-spinner>

