.scroll-progress {
	left: 0px;
	height: 7px;
	right: 0px;
	bottom: 0px;
	z-index: 2;

	&__indicator {
		background-color: #ffc107;
		bottom: 0px;
		left: 0px;
		position: absolute;
		top: 0px;
		transition: 100ms ease width;
	}

	&--fixed {
        position: fixed;
        z-index: 10000;
	}

	&--absolute {
		position: absolute;
	}
}