<app-navbar></app-navbar>
<main>
    <router-outlet (activate)="onActivate($event)"></router-outlet>
</main>
<app-footer></app-footer>
<div class="scroll-progress scroll-progress--fixed">
    <div class="scroll-progress__indicator box-shadow" [style.width.%]="pageScroll"></div>
</div>
<ngx-spinner
    bdColor="rgba(33, 37, 41, 0.8)"
    size="large"
    color="#ffc107"
    type="ball-clip-rotate">
    <p class="text-warning">Loading...</p>
</ngx-spinner>
<span (click)="scrollTopTop()" class="top-scroll"><i class="fa fa-chevron-circle-up fa-3x"></i></span>