.scroll-progress {
	left: 0px;
	height: 7px;
	right: 0px;
	bottom: 0px;
	z-index: 2;

	&__indicator {
		background-color: #ffc107;
		bottom: 0px;
		left: 0px;
		position: absolute;
		top: 0px;
		transition: 100ms ease width;
	}

	&--fixed {
        position: fixed;
        z-index: 10000;
	}

	&--absolute {
		position: absolute;
	}
}

.top-scroll {
    position: fixed;
    bottom: 3em;
    right: 3em;
	text-decoration: none;
	cursor: pointer;
    color: #ffc107;
	background-color: rgba(52, 58, 64, 0.8);
    font-size: 9px;
    padding: 1em;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
	display: inline;
	z-index: 999999;
}