<section>
  <section class="sticky-top bg-white box-shadow mb-4">
    <div class="container-fluid border-bottom py-3">
      <div class="input-group">
        <input type="text" id="typeahead-config" class="form-control form-control rounded-0" aria-label="Search for posts" placeholder="Search for posts"
          [(ngModel)]="searchTerm" [ngbTypeahead]="search" />
          <div class="input-group-append">
            <span *ngIf="_.isEmpty(searchTerm)" class="input-group-text rounded-0 bg-warning">
              <i class="fas fa-search text-dark"></i>
            </span>
            <a [routerLink]="['']" class="btn text-dark btn-warning rounded-0" *ngIf="!_.isEmpty(searchTerm)" class="btn btn-warning rounded-0">
              Clear <i class="fas fa-times"></i>
            </a>
          </div>
        </div>
    </div>
  </section>
  <section *ngIf="!isLoading">
    <div class="container-fluid">
      <div class="d-flex flex-wrap">
        <!-- Create New -->
        <app-edit-modal *ngIf="authService?.canEdit(user)"
          [collection]="'posts'"
          [id]="post?.slug"
          [data]="newPost"
          [isNew]="true"
          [inputsConfig]="inputsConfig">
        </app-edit-modal>
        <div class="ml-auto align-self-center" *ngIf="!_.isEmpty((posts | filterBy:'publish':true:user | searchBy: searchTerm))">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-warning rounded-0" id="order-by-dropdown" ngbDropdownToggle>
              {{ selectedOrderBy?.label ? selectedOrderBy?.label : 'Sort By' }}
            </button>
            <div ngbDropdownMenu aria-labelledby="order-by-dropdown">
              <button class="dropdown-item cursor-pointer" [class.cursor-pointer]="option !== selectedOrderBy" [class.active]="option === selectedOrderBy"
                [disabled]="option === selectedOrderBy" *ngFor="let option of orderByOptions" (click)="selectedOrderBy = option">
                {{option.label}}
              </button>
            </div>
          </div>
        </div>
      </div>
      <p class="h5 my-3 text-dark text-capitalize text-right">{{(posts | filterBy:'publish':true:user | searchBy: searchTerm).length}} Results</p>
    </div>
    <!-- No results -->
    <ng-container *ngIf="_.isEmpty((posts | filterBy:'publish':true:user | searchBy: searchTerm))">
      <div class="container-fluid text-center">
        <h2 class="text-uppercase">Sorry!</h2>
        <p class=" text-muted">We couldn't find anything with these search terms.
          <a [routerLink]="['']" class="text-warning cursor-pointer">Clear and search again</a>
        </p>
      </div>
    </ng-container>
    <!-- Has results -->
    <ng-container *ngIf="!_.isEmpty((posts | filterBy:'publish':true:user | searchBy: searchTerm))">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-xl-6" *ngFor="let post of (posts | filterBy: 'publish':true:user | searchBy: searchTerm | orderBy: selectedOrderBy?.type: selectedOrderBy?.direction)" [ngClass]="{'bg-light': !post.publish }">
            <div class="row py-3">
                <div class="col-xs-12 col-md-3 text-center align-self-center post-thumbnail my-2" [@enter]>
                  <a [routerLink]="['/posts', post?.slug]">
                    <img class="img-fluid rounded-0" [src]="post?.image" [alt]="post?.title">
                  </a>
                </div>
                <div class="col pb-3">
                  <h1 class="h3 d-flex flex-column">
                    <app-edit-modal class="my-2" *ngIf="authService?.canEdit(user)"
                      [collection]="'posts'"
                      [id]="post?.slug"
                      [data]="post"
                      [isNew]="false"
                      [inputsConfig]="inputsConfig">
                    </app-edit-modal>
                    <a [routerLink]="['/posts', post?.slug]" [title]="post?.title" class="text-dark mb-2 mr-3" [innerHTML]="post?.title | searchHighlight: searchTerm"></a>
                  </h1>
                  <section class="h5">
                      <div class="mb-2">
                        <a [routerLink]="['/profile', post?.uid]" class="mr-3">
                          <img *ngIf="post?.photoURL" class="rounded-circle profile-picture" [src]="post?.photoURL" alt="{{post?.displayName}} Profile Picture">
                        </a>
                        <a [routerLink]="['/profile', post?.uid]" class="text-dark font-weight-bold mr-3" [innerHTML]="post?.displayName | searchHighlight: searchTerm"></a>
                        <p class="text-secondary mb-2 d-inline-block" *ngIf="post?.modified">{{post?.modified | timeStampDate:'longDate' | timeAgo}}</p>
                      </div>
                      <p class="mb-2" style="overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; max-height: 3em;"  [innerHTML]="post?.description | searchHighlight: searchTerm">
                          {{post?.description}}
                      </p>
                      <a [routerLink]="['']" [queryParams]="{ query: post?.category }" class="mb-2">
                        <h2 class="badge badge-dark text-uppercase rounded-0" [innerHTML]="post?.category | searchHighlight: searchTerm"></h2>
                      </a>
                  </section>
                </div>
              </div>
          </div>          
        </div>
      </div>
    </ng-container>
  </section>
</section>