<section>
  <section class="sticky-top bg-white box-shadow mb-4">
    <div class="container-fluid border-bottom py-3">
      <div class="input-group">
        <input #searchBar type="text" id="typeahead-config" class="form-control form-control rounded-0" aria-label="Search for blogs" placeholder="Search for blogs"
          [(ngModel)]="searchTerm" [ngbTypeahead]="search" />
          <div class="input-group-append">
            <span *ngIf="_.isEmpty(searchTerm)" class="input-group-text rounded-0 bg-warning">
              <fa-icon [icon]="['fas', 'search']" class="text-dark"></fa-icon>
            </span>
            <a [routerLink]="['']" class="btn text-dark btn-warning rounded-0" title="Clear" *ngIf="!_.isEmpty(searchTerm)" class="btn btn-warning rounded-0">
              Clear <fa-icon [icon]="['fas', 'times']" class="text-dark"></fa-icon>
            </a>
          </div>
        </div>
    </div>
  </section>
  <section class="container-fluid mb-3 d-flex flex-wrap align-items-center">
    <div class="d-flex flex-wrap align-items-center my-2">
      <span class="h5 my-2 mr-3">Share</span>
      <share-buttons
        [theme]="'default'"
        [include]="['twitter', 'facebook', 'linkedin', 'reddit', 'tumblr', 'copy']"
        [exclude]="[]"
        [showText]="false"
        [showCount]="false"
        url="{{environment.url}}{{url}}">
      </share-buttons>
    </div>
    <!-- <div *ngIf="fcmService.token" class="d-flex flex-wrap align-items-center my-2 ml-auto">
      <span class="h5 my-2 mr-3">Subscribe</span>
      <div class="btn-group">
        <button (click)="fcmService.subscribeToTopic(environment.name); isSubscribed = true" title="Subscribe" class="btn btn-warning rounded-0" [ngClass]="{'active': isSubscribed && !_.isNil(isSubscribed)}" [disabled]="isSubscribed && !_.isNil(isSubscribed)">
          <fa-icon [icon]="['fas', 'bell']"></fa-icon>
        </button>
        <button (click)="fcmService.unsubscribeFromTopic(environment.name); isSubscribed = false" title="Unsubscribe" class="btn btn-warning rounded-0" [ngClass]="{'active': !isSubscribed && !_.isNil(isSubscribed)}" [disabled]="!isSubscribed && !_.isNil(isSubscribed)">
          <fa-icon [icon]="['fas', 'bell-slash']"></fa-icon>
        </button>
      </div>
    </div> -->
  </section>
  <!-- Horizontal Display Ad-->
  <section class="container-fluid text-center my-5">
    <ng-adsense
        [fullWidthResponsive]="true"
        [display]="'block'"
        [adClient]="'ca-pub-4642980268605791'"
        [adSlot]=2801999023
        [adFormat]="'auto'">
    </ng-adsense>
  </section>
  <section>
    <div class="container-fluid">
      <div class="d-flex flex-wrap">
        <!-- Create New -->
        <app-edit-button *ngIf="authService?.canEdit(user)"
          [collection]="collection"
          [id]=""
          [data]="newPost"
          [isNew]="true"
          [posts]="posts"
          [inputsConfig]="inputsConfig">
        </app-edit-button>
        <div class="ml-auto align-self-center" *ngIf="!_.isEmpty((posts | filterBy:'publish':true:user | searchBy: searchTerm))">
          <div ngbDropdown class="d-inline-block">
            <button class="btn btn-warning rounded-0" id="order-by-dropdown" title="Sort By" ngbDropdownToggle>
              {{ selectedOrderBy?.label ? selectedOrderBy?.label : 'Sort By' }}
            </button>
            <div ngbDropdownMenu aria-labelledby="order-by-dropdown">
              <button class="dropdown-item cursor-pointer" [class.cursor-pointer]="option !== selectedOrderBy" [class.active]="option === selectedOrderBy"
                [disabled]="option === selectedOrderBy" *ngFor="let option of orderByOptions" (click)="selectedOrderBy = option">
                {{option.label}}
              </button>
            </div>
          </div>
        </div>
      </div>
      <p class="h5 my-3 text-dark text-capitalize text-right">{{(posts | filterBy:'publish':true:user | searchBy: searchTerm).length}} Results</p>
    </div>
    <!-- No results -->
    <ng-container *ngIf="!isLoading && _.isEmpty((posts | filterBy:'publish':true:user | searchBy: searchTerm))">
      <div class="container-fluid text-center">
        <h2 class="text-uppercase">Sorry!</h2>
        <p class="text-muted">We couldn't find anything with these search terms.
          <a [routerLink]="['']" class="text-warning cursor-pointer">Clear and search again</a>
        </p>
      </div>
    </ng-container>
    <!-- Has results -->
    <ng-container *ngIf="!_.isEmpty((posts | filterBy:'publish':true:user | searchBy: searchTerm))">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 col-xl-6" *ngFor="let post of (posts | filterBy: 'publish':true:user | searchBy: searchTerm | orderBy: selectedOrderBy?.type: selectedOrderBy?.direction)" [ngClass]="{'bg-light': !post.publish }">
            <app-post
              [showEditButton]="true"
              [post]="post"
              [collection]="collection"
              [id]="post?.slug"
              [inputsConfig]="inputsConfig"
              [searchTerm]="searchTerm">
            </app-post>
          </div>
        </div>
      </div>
    </ng-container>
  </section>
</section>
<!-- Horizontal Display Ad-->
<section class="container-fluid text-center mt-5">
  <ng-adsense
    [fullWidthResponsive]="true"
    [display]="'block'"
    [adClient]="'ca-pub-4642980268605791'"
    [adSlot]=2801999023
    [adFormat]="'auto'">
  </ng-adsense>
</section>