<div class="modal-header">
    <h4 class="modal-title">Log In</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <button class="btn btn-danger btn-lg btn-block cursor-pointer" (click)="signInWithGoogle()">
        <fa-icon [icon]="['fab', 'google-plus-g']" class="mr-3"></fa-icon>
        <span>
            Sign in with Google
        </span>
    </button>
    <button class="btn btn-primary btn-lg btn-block cursor-pointer" (click)="signInWithFacebook()">
        <fa-icon [icon]="['fab', 'facebook-f']" class="mx-3"></fa-icon>
        <span>
            Sign in with Facebook
        </span>
    </button>
</div>
