<section>
    <div class="container-fluid my-5">
        <div class="text-center">
            <button *ngIf="authService?.canEdit(user)" class="btn btn-warning" (click)="refreshTopHeadlines()">
                <ng-container *ngIf="isPlatformBrowser()">
                    <fa-icon [icon]="['fas', 'sync']" class="mr-2"></fa-icon>
                </ng-container>
                Refresh
            </button>
            <p class="small text-secondary my-3 mr-3" *ngIf="topHeadlines?.updated">
                Last Updated: {{topHeadlines?.updated | timeStampDate:'short'}} ({{topHeadlines?.updated | timeAgo}})
            </p>
        </div>
        <!-- Overall -->
        <div>
            <p><span class="font-weight-bold">Overall Sentiment Score: {{topHeadlines?.overallSentiment?.score}}</span></p>
            <p><span class="font-weight-bold">Bullish: {{topHeadlines?.isBullish}}</span></p>
            <!-- <p><span class="font-weight-bold">Positive Words: {{topHeadlines?.overallSentiment?.positive}}</span></p>
            <p><span class="font-weight-bold">Negative Words: {{topHeadlines?.overallSentiment?.negative}}</span></p> -->
        </div>
        <div class="row my-2">
            <div class="col-12" *ngFor="let article of topHeadlines?.articles; let index = index">
                <p class="mb-2 mr-2">
                    <a [href]="article?.url" [title]="article?.title" target="__blank">{{index + 1}}. {{article?.title}}</a>
                </p>
                <p>{{article?.publishedAt | date:'medium'}}</p>
                <p>{{article?.description}}</p>
                <p>
                    <span class="font-weight-bold">Sentiment Score: {{article?.sentiment?.score}}</span>
                </p>
            </div>
        </div>
    </div>
</section>