<h4 class="my-3">Recent Posts</h4>
<section class="mb-3" *ngFor="let featuredPost of featuredPosts">
  <a [routerLink]="['', featuredPost?.slug]" class="card bg-dark text-white rounded-0 border-0">
    <img class="card-img rounded-0" [src]="featuredPost?.image" [alt]="featuredPost?.title">
    <div class="card-img-overlay">
      <a [routerLink]="['', featuredPost?.category]" [title]="featuredPost?.category" class="text-uppercase text-shadow text-white bg-warning d-inline-block p-2 mb-3">{{featuredPost?.category}}</a>
      <h5 class="card-title text-capitalize">
        <a [routerLink]="['', featuredPost?.slug]" [title]="featuredPost?.title" class="text-white text-shadow">{{featuredPost?.title}}</a>
      </h5>
      <p class="card-text text-shadow">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text text-shadow">Last updated 3 mins ago</p>
    </div>
  </a>
</section>