// Medium devices (tablets, less than 992px)
@media (min-width: 0px) {
    .email-subscription {
        overflow: hidden;
        position: relative;
        margin: 0 auto;
        border-radius: .25em;
    }

    .email-subscription:before,
    .email-subscription:after {
        position: absolute;
        top: -0.25em;
        width: 50%;
        height: 26%;
        content: '';
    }

    .email-subscription:before {
        left: 1em;
        border-radius: 0 0 0 .25em;
        box-shadow: -.2em .2em .2em rgba(0,0,0,0.2);
        transform: skewX(37.5deg);
    }

    .email-subscription:after {
        right: 1em;
        border-radius: 0 0 .25em 0;
        transform: skewX(-37.5deg);
        box-shadow: .2em .2em .2em rgba(0,0,0,0.2);
    }

    .email-subscription {
        max-width: 1000px;
        margin: 0 auto;
    }
    .container {
        max-width: fit-content;
    }
}