<ng-container *ngIf="!emailSubmitted">
    <section class="email-subscription container p-5 text-dark text-center bg-light box-shadow">
        <fa-icon [icon]="['fas', 'newspaper']" class="fa-3x"></fa-icon>
        <h1 class="text-center mb-3">
            Subscribe to Newsletter
        </h1>
        <p class="text-center mb-3">Receive only a few emails per month</p>
        <input [(ngModel)]="email" [required]="true" type="email" class="form-control mb-3" aria-label="Enter your email address to get notified on new blog posts!" placeholder="Enter your email address to get notified on new blog posts!">
        <button class="btn btn-block btn-warning mb-3" type="button" (click)="subscribeToNewsLetter()" [disabled]="!validateEmail()">Subscribe</button>
    </section>
</ng-container>
