<div class="row py-3" [@enter]>
    <div class="col-xs-12 col-md-3 text-center align-self-center post-thumbnail">
        <a (click)="scrollToTop()" [routerLink]="['/blog', post?.slug]">
            <img class="img-fluid rounded-0" src="../assets/icons/apple-touch-icon.png" [attr.data-src]="post?.image" [alt]="post?.title">
        </a>
    </div>
    <div class="col py-2">
        <app-edit-button *ngIf="showEditButton && post && authService?.canEdit(user, post?.uid)"
            [data]="post"
            [collection]="collection"
            [id]="post?.slug"
            [isNew]="false"
            [inputsConfig]="inputsConfig">
        </app-edit-button>
        <section class="h5">
            <h2 class="h3 my-3">
                <a (click)="scrollToTop()" [routerLink]="['/blog', post?.slug]" [title]="post?.title" class="text-dark mb-2 mr-3" [innerHTML]="post?.title | searchHighlight: searchTerm"></a>
            </h2>
            <a (click)="scrollToTop()" [routerLink]="['/blog', post?.slug]" class="text-dark text-decoration-none post-description d-block mb-3">
                <span [innerHTML]="post?.description | searchHighlight: searchTerm"></span>
                <span>...</span>
                <span class="ml-1 text-secondary cursor-pointer">more</span
            ></a>
            <a (click)="scrollToTop()" [routerLink]="['']" [queryParams]="{ q: post?.category }" class="mb-2">
                <span class="badge badge-dark h3 p-2 rounded-0" [innerHTML]="post?.category | searchHighlight: searchTerm"></span>
            </a>
            <div class="d-flex flex-wrap-reverse align-items-center">
                <div class="h5 mb-0">
                    <a (click)="scrollToTop()" [routerLink]="['/profile', post?.uid]" class="d-inline-block my-3 mr-3">
                        <img class="rounded-circle profile-picture" src="../assets/icons/apple-touch-icon.png" [attr.data-src]="post?.photoURL" alt="{{post?.displayName}} Profile Picture">
                    </a>
                    <a [routerLink]="['/profile', post?.uid]" class="text-dark font-weight-bold my-3 mr-3" [innerHTML]="post?.displayName | searchHighlight: searchTerm"></a>
                    <p class="small text-secondary my-3 d-inline-block" *ngIf="post?.created">{{post?.created | timeAgo}}</p>
                </div>
                <!-- <app-payment-button *ngIf="authService?.canRead(user) && post?.amount && post?.category" class="my-3 ml-auto" [amount]="post?.amount" [category]="post?.category"></app-payment-button> -->
            </div>
            <share-buttons
                [theme]="'default'"
                [include]="['twitter', 'facebook', 'linkedin', 'reddit', 'tumblr', 'copy']"
                [exclude]="[]"
                [showText]="false"
                [showCount]="false"
                url="{{environment.url}}/blog/{{post?.slug}}">
            </share-buttons>
        </section>
    </div>
</div>
