/* You can add global styles to this file, and also import other style files */
/* Sticky footer styles
-------------------------------------------------- */
main {
    position: relative;
    min-height: 100vh;
}

::selection {
    background: #fed136;
    text-shadow: none;
}

.fill-available {
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: stretch;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}

.text-decoration-none {
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

.text-shadow {
    text-shadow: 0 1px 2px #212529!important;
}

quill-editor .ql-container {
    max-height: 90%;
}