/* You can add global styles to this file, and also import other style files */
/* Sticky footer styles
-------------------------------------------------- */
main {
    position: relative;
    min-height: 100vh;
}

::selection {
    background: #fed136;
    text-shadow: 0 1px 1px #212529 !important
}

.fill-available {
    height: 100%;
    height: -moz-available;
    height: -webkit-fill-available;
    height: stretch;
    width: 100%;
    width: -moz-available;
    width: -webkit-fill-available;
    width: stretch;
}

.text-decoration-none {
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}

.text-shadow {
    text-shadow: 0 1px 1px #212529 !important
}

.box-shadow {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
}

img {
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;    
}

/* Custom ngx-quill */
quill-view-html .ql-container {
    height: unset;
    .ql-editor {
        padding: 0;
        font-size: 1.5rem;
    }
}

quill-editor .ql-container {
    max-height: 90%;
}

/* Custom ng-bootstrap */
.modal-100 {
    .modal-dialog {
        max-width: unset;
        margin: unset;
        .modal-content {
            border: unset;
            border-radius: unset;
            min-height: 100vh;
        }
    }
}

/* Bootstrap 4 */
.dropdown-menu.show {
    z-index: 2000;
}

.navbar-brand {
    font-family: 'Kaushan Script',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol','Noto Color Emoji'
}

/* Custom CSS */
.profile-picture {
    width: auto;
    height: 1.8em;
    padding: 0;
}

.image-banner {
    background-position: center;
    background-size: cover;
    padding-top: 33.33%;
    background-repeat: no-repeat;
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
    .image-banner {
        padding-top: 66.66%;
    }
}