/* You can add global styles to this file, and also import other style files */
/* Sticky footer styles
-------------------------------------------------- */
main {
    position: relative;
    min-height: 100vh;
}

.text-decoration-none {
    text-decoration: none;
}

.cursor-pointer {
    cursor: pointer;
}